In [42]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
"test"[:-2]

'te'

In [9]:
df = pd.read_csv("core_data_nyc/median_household_income_by_tract.csv")

In [10]:
df_tracts = pd.read_csv("core_data_nyc/census_tract_to_nta.csv")

In [55]:
df_tracts.NTACode.nunique()

195

In [11]:
df_tracts

,the_geom,BoroName,CTLabel,BoroCode,BoroCT2010,CT2010,CDEligibil,NTACode,NTAName,Shape_Leng,PUMA,Shape_Area
0,MULTIPOLYGON (((-74.07920577013245 40.64343078...,Staten Island,9.00,5,5000900,900,I,SI22,West New Brighton-New Brighton-St. George,7729.016794,3903,2.497010e+06
1,MULTIPOLYGON (((-73.96432543478758 40.75638153...,Manhattan,98.00,1,1009800,9800,I,MN19,Turtle Bay-East Midtown,5534.199811,3808,1.906016e+06
2,MULTIPOLYGON (((-73.96802436915851 40.75957814...,Manhattan,100.00,1,1010000,10000,I,MN19,Turtle Bay-East Midtown,5692.168737,3808,1.860938e+06
3,MULTIPOLYGON (((-73.97124277307127 40.76093641...,Manhattan,102.00,1,1010200,10200,I,MN17,Midtown-Midtown South,5687.802439,3807,1.860993e+06
4,MULTIPOLYGON (((-73.97445730550224 40.76229308...,Manhattan,104.00,1,1010400,10400,I,MN17,Midtown-Midtown South,5693.036367,3807,1.864600e+06
5,MULTIPOLYGON (((-73.98411754823195 40.75484205...,Manhattan,113.00,1,1011300,11300,I,MN17,Midtown-Midtown South,5699.860641,3807,1.890907e+06
6,MULTIPOLYGON (((-73.96475544914023 40.76405707...,Manhattan,114.02,1,1011402,11402,I,MN40,Upper East Side-Carnegie Hill,4125.256029,3805,1.063547e+06
7,MULTIPOLYGON (((-73.96147581181627 40.77432401...,Manhattan,130.00,1,1013000,13000,I,MN40,Upper East Side-Carnegie Hill,5807.972956,3805,1.918145e+06
8,MULTIPOLYGON (((-73.95494520074165 40.77750394...,Manhattan,140.00,1,1014000,14000,I,MN40,Upper East Side-Carnegie Hill,5820.815640,3805,1.925984e+06
9,MULTIPOLYGON (((-73.95398370221397 40.77882211...,Manhattan,148.01,1,1014801,14801,I,MN40,Upper East Side-Carnegie Hill,3135.951423,3805,5.592162e+05
10,MULTIPOLYGON (((-73.94181428695792 40.80123649...,Manhattan,184.00,1,1018400,18400,E,MN34,East Harlem North,5771.874098,3804,1.903568e+06
11,MULTIPOLYGON (((-73.94505127984516 40.80259859...,Manhattan,190.00,1,1019000,19000,I,MN11,Central Harlem South,4231.827087,3803,1.117372e+06
12,MULTIPOLYGON (((-73.93580780201182 40.80949763...,Manhattan,206.00,1,1020600,20600,E,MN03,Central Harlem North-Polo Grounds,5176.873150,3803,1.602694e+06
13,MULTIPOLYGON (((-73.93669078722112 40.83719324...,Manhattan,249.00,1,1024900,24900,E,MN36,Washington Heights South,3927.821466,3801,6.528564e+05
14,MULTIPOLYGON (((-73.93139355381945 40.84742823...,Manhattan,261.00,1,1026100,26100,E,MN36,Washington Heights South,5532.099835,3801,1.681539e+06
15,MULTIPOLYGON (((-73.9342394636615 40.848626211...,Manhattan,263.00,1,1026300,26300,E,MN36,Washington Heights South,5730.541840,3801,1.691892e+06
16,MULTIPOLYGON (((-73.93062107886071 40.84848097...,Manhattan,267.00,1,1026700,26700,E,MN35,Washington Heights North,3869.447369,3801,5.187717e+05
17,MULTIPOLYGON (((-73.92769565738116 40.85248778...,Manhattan,269.00,1,1026900,26900,E,MN35,Washington Heights North,6017.037031,3801,1.889656e+06
18,MULTIPOLYGON (((-73.92769565738116 40.85248778...,Manhattan,277.00,1,1027700,27700,E,MN35,Washington Heights North,5903.152576,3801,1.760156e+06
19,MULTIPOLYGON (((-73.99301822153384 40.69746236...,Brooklyn,5.01,3,3000501,501,I,BK09,Brooklyn Heights-Cobble Hill,4828.170042,4004,9.015070e+05
20,MULTIPOLYGON (((-74.01266264860631 40.64925555...,Brooklyn,20.00,3,3002000,2000,I,BK32,Sunset Park West,5426.067291,4012,1.620770e+06
21,MULTIPOLYGON (((-73.98181677448231 40.68732980...,Brooklyn,41.00,3,3004100,4100,I,BK38,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,5283.856660,4004,1.744094e+06
22,MULTIPOLYGON (((-74.02956408409689 40.61983253...,Brooklyn,58.00,3,3005800,5800,E,BK31,Bay Ridge,6098.167800,4013,2.080303e+06
23,MULTIPOLYGON (((-74.02835031608427 40.62279862...,Brooklyn,60.00,3,3006000,6000,I,BK31,Bay Ridge,5498.334387,4013,1.639074e+06
24,MULTIPOLYGON (((-73.99440802432692 40.68545249...,Brooklyn,67.00,3,3006700,6700,I,BK33,Carroll Gardens-Columbia Street-Red Hook,5236.047912,4005,1.680804e+06
25,MULTIPOLYGON (((-73.98828896785815 40.68586869...,Brooklyn,69.00,3,3006900,6900,I,BK38,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,5563.971321,4004,1.927678e+06
26,MULTIPOLYGON (((-74.01381390001313 40.64174524...,Brooklyn,74.00,3,3007400,7400,E,BK32,Sunset Park West,4994.563886,4012,1.516613e+06
27,MULTIPOLYGON (((-74.01148370452388 40.64398661...,Brooklyn,76.00,3,3007600,7600,E,BK32,Sunset Park West,4980.047514,4012,1.510402e+06
28,MULTIPOLYGON (((-74.0091528209351 40.646226735...,Brooklyn,78.00,3,3007800,7800,E,BK32,Sunset Park West,4986.671595,4012,1.509792e+06
29,MULTIPOLYGON (((-74.00682351845911 40.64846488...,Brooklyn,80.00,3,3008000,8000,E,BK32,Sunset Park West,4989.723103,4012,1.506326e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
2136,MULTIPOLYGON (((-73.99429211012634 40.69853508...,Brooklyn,3.01,3,3000301,301,I,BK09,Brooklyn Heights-Cobble Hill,6441.358762,4004,2.152333e+06
2137,MULTIPOLYGON (((-73.9967170257997 40.693439327...,Brooklyn,7.00,3,3000700,700,I,BK09,Brooklyn Heights-Cobble Hill,6287.856013,4004,1.916982e+06
2138,MULTIPOLYGON (((-73.9977692437901 40.691194697...,Brooklyn,47.00,3,3004700,4700,I,BK33,Carroll Gardens-Columbia Street-Red Hook,9926.016397,4005,2.892505e+06
2139,MULTIPOLYGON (((-74.00064738069482 40.68525394...,Brooklyn,51.00,3,3005100,5100,I,BK33,Carroll Gardens-Columbia Street-Red Hook,6036.165144,4005,1.959927e+06
2140,MULTIPOLYGON (((-73.96142121523177 40.71134919...,Brooklyn,549.00,3,3054900,54900,E,BK73,North Side-South Side,6845.775559,4001,2.097786e+06
2141,MULTIPOLYGON (((-73.96277758654239 40.71510663...,Brooklyn,551.00,3,3055100,55100,E,BK73,North Side-South Side,7122.677206,4001,2.510928e+06
2142,MULTIPOLYGON (((-73.92405909736993 40.71411156...,Brooklyn,449.00,3,3044900,44900,I,BK90,East Williamsburg,33958.111559,4001,2.296257e+07
2143,MULTIPOLYGON (((-73.9341233728981 40.726855471...,Brooklyn,593.00,3,3059300,59300,E,BK76,Greenpoint,6065.459409,4001,2.033804e+06
2144,MULTIPOLYGON (((-74.00485241669628 40.68566813...,Brooklyn,53.00,3,3005300,5300,I,BK33,Carroll Gardens-Columbia Street-Red Hook,55170.029926,4005,1.769598e+07
2145,MULTIPOLYGON (((-73.76159594814952 40.69593454...,Queens,398.00,4,4039800,39800,I,QN08,St. Albans,6710.415364,4112,2.161189e+06
2146,MULTIPOLYGON (((-74.00581925424568 40.68365655...,Brooklyn,59.00,3,3005900,5900,I,BK33,Carroll Gardens-Columbia Street-Red Hook,10119.007515,4005,3.852116e+06
2147,MULTIPOLYGON (((-73.99529821460949 40.74967168...,Manhattan,97.00,1,1009700,9700,I,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,5655.110273,3807,1.860581e+06
2148,MULTIPOLYGON (((-73.99346417736238 40.75219005...,Manhattan,103.00,1,1010300,10300,I,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,5699.238165,3807,1.875918e+06
2149,MULTIPOLYGON (((-73.93022653420849 40.74244577...,Queens,199.00,4,4019900,19900,I,QN31,Hunters Point-Sunnyside-West Maspeth,21077.717305,4109,1.702514e+07
2150,MULTIPOLYGON (((-73.97122806189908 40.74691917...,Manhattan,78.00,1,1007800,7800,I,MN20,Murray Hill-Kips Bay,5546.867316,3808,1.912110e+06
2151,MULTIPOLYGON (((-73.91796696706498 40.72850077...,Queens,205.00,4,4020500,20500,I,QN31,Hunters Point-Sunnyside-West Maspeth,11185.329451,4109,6.431663e+06
2152,MULTIPOLYGON (((-74.15397419819314 40.53426814...,Staten Island,156.02,5,5015602,15602,I,SI01,Annadale-Huguenot-Prince's Bay-Eltingville,13471.912816,3901,9.487433e+06
2153,MULTIPOLYGON (((-74.16426953128186 40.54333550...,Staten Island,170.11,5,5017011,17011,I,SI01,Annadale-Huguenot-Prince's Bay-Eltingville,11440.391499,3901,7.742032e+06
2154,MULTIPOLYGON (((-74.07643744511992 40.60100160...,Staten Island,64.00,5,5006400,6400,I,SI14,Grasmere-Arrochar-Ft. Wadsworth,12727.237103,3902,7.644307e+06
2155,MULTIPOLYGON (((-73.74029138976144 40.60459823...,Queens,1032.02,4,4103202,103202,E,QN15,Far Rockaway-Bayswater,11703.288307,4114,7.675566e+06
2156,MULTIPOLYGON (((-73.97444451625712 40.75076469...,Manhattan,80.00,1,1008000,8000,I,MN20,Murray Hill-Kips Bay,5682.153720,3808,1.855977e+06
2157,MULTIPOLYGON (((-74.06503332356229 40.58899099...,Staten Island,70.00,5,5007000,7000,I,SI36,Old Town-Dongan Hills-South Beach,26519.447955,3902,2.872755e+07
2158,MULTIPOLYGON (((-73.74574030835763 40.60340255...,Queens,1010.01,4,4101001,101001,E,QN15,Far Rockaway-Bayswater,13633.594718,4114,8.670017e+06
2159,MULTIPOLYGON (((-73.74684219680643 40.75205807...,Queens,1385.01,4,4138501,138501,I,QN42,Oakland Gardens,14620.437146,4104,1.119924e+07
2160,MULTIPOLYGON (((-73.75800131767161 40.76037986...,Queens,1471.00,4,4147100,147100,I,QN46,Bayside-Bayside Hills,10200.519364,4104,4.561907e+06
2161,MULTIPOLYGON (((-74.00709020770739 40.72877225...,Manhattan,37.00,1,1003700,3700,I,MN24,SoHo-TriBeCa-Civic Center-Little Italy,11697.058583,3810,4.109796e+06
2162,MULTIPOLYGON (((-73.9999157921724 40.726934713...,Manhattan,49.00,1,1004900,4900,I,MN24,SoHo-TriBeCa-Civic Center-Little Italy,6676.606066,3810,2.226124e+06
2163,MULTIPOLYGON (((-73.91977764822657 40.76615218...,Queens,63.00,4,4006300,6300,E,QN70,Astoria,6357.914009,4101,2.288183e+06
2164,MULTIPOLYGON (((-73.91807875244565 40.77006199...,Queens,71.00,4,4007100,7100,I,QN71,Old Astoria,8689.507037,4101,2.102180e+06
2165,MULTIPOLYGON (((-73.92220260045575 40.76727316...,Queens,73.00,4,4007300,7300,I,QN71,Old Astoria,4968.583586,4101,1.522212e+06

In [12]:
df_tracts_to_nta = df_tracts[["BoroCT2010", "NTACode","NTAName"]]

In [13]:
df_tracts_to_nta[["BoroCT2010_str"]] = df_tracts_to_nta[["BoroCT2010"]].astype(str)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [40]:
df_tracts_to_nta["BoroCT2010_str"].str[-6:]

0       000900
1       009800
2       010000
3       010200
4       010400
5       011300
6       011402
7       013000
8       014000
9       014801
10      018400
11      019000
12      020600
13      024900
14      026100
15      026300
16      026700
17      026900
18      027700
19      000501
20      002000
21      004100
22      005800
23      006000
24      006700
25      006900
26      007400
27      007600
28      007800
29      008000
         ...
2136    000301
2137    000700
2138    004700
2139    005100
2140    054900
2141    055100
2142    044900
2143    059300
2144    005300
2145    039800
2146    005900
2147    009700
2148    010300
2149    019900
2150    007800
2151    020500
2152    015602
2153    017011
2154    006400
2155    103202
2156    008000
2157    007000
2158    101001
2159    138501
2160    147100
2161    003700
2162    004900
2163    006300
2164    007100
2165    007300
Name: BoroCT2010_str, Length: 2166, dtype: object

In [20]:
df_tracts_to_nta['merge_identifier'] = df_tracts_to_nta["BoroCT2010_str"]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [41]:
df_tracts_to_nta[df_tracts_to_nta["BoroName"] == "Manhattan"]['BoroInitials'] = "MN"

KeyError: 'BoroName'

In [16]:
df_tracts_to_nta.merge_identifier.nunique()

2166

In [39]:
df_tracts_to_nta

,BoroCT2010,NTACode,NTAName,BoroCT2010_str,merge_identifier
0,5000900,SI22,West New Brighton-New Brighton-St. George,5000900,5000900
1,1009800,MN19,Turtle Bay-East Midtown,1009800,1009800
2,1010000,MN19,Turtle Bay-East Midtown,1010000,1010000
3,1010200,MN17,Midtown-Midtown South,1010200,1010200
4,1010400,MN17,Midtown-Midtown South,1010400,1010400
5,1011300,MN17,Midtown-Midtown South,1011300,1011300
6,1011402,MN40,Upper East Side-Carnegie Hill,1011402,1011402
7,1013000,MN40,Upper East Side-Carnegie Hill,1013000,1013000
8,1014000,MN40,Upper East Side-Carnegie Hill,1014000,1014000
9,1014801,MN40,Upper East Side-Carnegie Hill,1014801,1014801
10,1018400,MN34,East Harlem North,1018400,1018400
11,1019000,MN11,Central Harlem South,1019000,1019000
12,1020600,MN03,Central Harlem North-Polo Grounds,1020600,1020600
13,1024900,MN36,Washington Heights South,1024900,1024900
14,1026100,MN36,Washington Heights South,1026100,1026100
15,1026300,MN36,Washington Heights South,1026300,1026300
16,1026700,MN35,Washington Heights North,1026700,1026700
17,1026900,MN35,Washington Heights North,1026900,1026900
18,1027700,MN35,Washington Heights North,1027700,1027700
19,3000501,BK09,Brooklyn Heights-Cobble Hill,3000501,3000501
20,3002000,BK32,Sunset Park West,3002000,3002000
21,3004100,BK38,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,3004100,3004100
22,3005800,BK31,Bay Ridge,3005800,3005800
23,3006000,BK31,Bay Ridge,3006000,3006000
24,3006700,BK33,Carroll Gardens-Columbia Street-Red Hook,3006700,3006700
25,3006900,BK38,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,3006900,3006900
26,3007400,BK32,Sunset Park West,3007400,3007400
27,3007600,BK32,Sunset Park West,3007600,3007600
28,3007800,BK32,Sunset Park West,3007800,3007800
29,3008000,BK32,Sunset Park West,3008000,3008000
...,...,...,...,...,...
2136,3000301,BK09,Brooklyn Heights-Cobble Hill,3000301,3000301
2137,3000700,BK09,Brooklyn Heights-Cobble Hill,3000700,3000700
2138,3004700,BK33,Carroll Gardens-Columbia Street-Red Hook,3004700,3004700
2139,3005100,BK33,Carroll Gardens-Columbia Street-Red Hook,3005100,3005100
2140,3054900,BK73,North Side-South Side,3054900,3054900
2141,3055100,BK73,North Side-South Side,3055100,3055100
2142,3044900,BK90,East Williamsburg,3044900,3044900
2143,3059300,BK76,Greenpoint,3059300,3059300
2144,3005300,BK33,Carroll Gardens-Columbia Street-Red Hook,3005300,3005300
2145,4039800,QN08,St. Albans,4039800,4039800
2146,3005900,BK33,Carroll Gardens-Columbia Street-Red Hook,3005900,3005900
2147,1009700,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,1009700,1009700
2148,1010300,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,1010300,1010300
2149,4019900,QN31,Hunters Point-Sunnyside-West Maspeth,4019900,4019900
2150,1007800,MN20,Murray Hill-Kips Bay,1007800,1007800
2151,4020500,QN31,Hunters Point-Sunnyside-West Maspeth,4020500,4020500
2152,5015602,SI01,Annadale-Huguenot-Prince's Bay-Eltingville,5015602,5015602
2153,5017011,SI01,Annadale-Huguenot-Prince's Bay-Eltingville,5017011,5017011
2154,5006400,SI14,Grasmere-Arrochar-Ft. Wadsworth,5006400,5006400
2155,4103202,QN15,Far Rockaway-Bayswater,4103202,4103202
2156,1008000,MN20,Murray Hill-Kips Bay,1008000,1008000
2157,5007000,SI36,Old Town-Dongan Hills-South Beach,5007000,5007000
2158,4101001,QN15,Far Rockaway-Bayswater,4101001,4101001
2159,4138501,QN42,Oakland Gardens,4138501,4138501
2160,4147100,QN46,Bayside-Bayside Hills,4147100,4147100
2161,1003700,MN24,SoHo-TriBeCa-Civic Center-Little Italy,1003700,1003700
2162,1004900,MN24,SoHo-TriBeCa-Civic Center-Little Italy,1004900,1004900
2163,4006300,QN70,Astoria,4006300,4006300
2164,4007100,QN71,Old Astoria,4007100,4007100
2165,4007300,QN71,Old Astoria,4007300,4007300

In [38]:
df_tracts_to_nta.NTACode.nunique()

195

In [17]:
df_tracts_to_nta.NTACode.unique()

array(['SI22', 'MN19', 'MN17', 'MN40', 'MN34', 'MN11', 'MN03', 'MN36',
       'MN35', 'BK09', 'BK32', 'BK38', 'BK31', 'BK33', 'BK34', 'BK88',
       'BK30', 'BK37', 'BK27', 'BK28', 'BK69', 'BK61', 'BK75', 'BK35',
       'BK78', 'BK29', 'BK63', 'BK60', 'BK21', 'BK79', 'BK25', 'BK77',
       'BK46', 'BK43', 'BK42', 'BK90', 'BK76', 'BK73', 'BK72', 'BK44',
       'BK17', 'BK45', 'BK58', 'BK91', 'BK95', 'BK96', 'BK81', 'BK50',
       'BX31', 'BK82', 'BK85', 'BK83', 'BX39', 'BX09', 'BX55', 'BX27',
       'BX35', 'BX33', 'BX14', 'BX52', 'BX99', 'BX59', 'BX08', 'BX63',
       'QN55', 'BX37', 'BX36', 'BX49', 'BX29', 'BX07', 'BX17', 'BX44',
       'BX05', 'BX28', 'BX43', 'BX62', 'QN53', 'QN54', 'QN68', 'QN70',
       'QN71', 'QN72', 'QN60', 'QN31', 'QN76', 'QN35', 'QN63', 'QN01',
       'QN29', 'QN28', 'QN08', 'QN27', 'QN25', 'QN26', 'QN61', 'QN20',
       'QN50', 'QN30', 'QN34', 'QN07', 'QN33', 'QN19', 'QN21', 'QN05',
       'QN18', 'QN17', 'QN37', 'QN62', 'QN22', 'QN52', 'QN51', 'QN10',
       'QN49', 'QN48', 'QN38', 'QN42', 'QN41', 'QN46', 'QN44', 'BX41',
       'QN99', 'BX10', 'MN04', 'MN01', 'MN27', 'MN13', 'BX01', 'BK19',
       'QN23', 'QN47', 'QN06', 'SI45', 'BX26', 'QN43', 'SI48', 'MN15',
       'BK41', 'BX46', 'BX13', 'BK40', 'MN23', 'BX34', 'BK23', 'BX30',
       'QN66', 'MN31', 'QN15', 'MN99', 'BX03', 'QN02', 'MN14', 'MN33',
       'MN25', 'BK68', 'MN28', 'MN20', 'SI37', 'SI07', 'SI12', 'QN45',
       'SI99', 'BK99', 'QN57', 'SI25', 'QN56', 'SI54', 'BK26', 'BK64',
       'BX75', 'BX22', 'MN32', 'SI36', 'QN12', 'SI35', 'SI28', 'SI08',
       'SI05', 'SI32', 'BK93', 'MN24', 'MN09', 'MN06', 'SI24', 'BX40',
       'MN12', 'SI14', 'MN50', 'MN21', 'SI11', 'QN03', 'SI01', 'BX98',
       'QN98', 'MN22', 'BX06'], dtype=object)

In [26]:
df.shape

(2167, 7)

In [27]:
df.head()

,short_name,long_name,Census Tract,2007-2011,2012-2016,census_tract_str,merge_identifier
0,hh_inc_med_adj,Median household income ($2017),36061020901,26868.476413,22646.768705,36061020901,1020901
1,hh_inc_med_adj,Median household income ($2017),36061021000,37333.166423,30517.876863,36061021000,1021000
2,hh_inc_med_adj,Median household income ($2017),36061021100,56176.979469,47939.330891,36061021100,1021100
3,hh_inc_med_adj,Median household income ($2017),36061021200,60259.227509,55064.111177,36061021200,1021200
4,hh_inc_med_adj,Median household income ($2017),36061021303,46358.338272,37478.505800,36061021303,1021303

In [29]:
df[["census_tract_str"]] = df[["Census Tract"]].astype(str)

In [30]:
df['merge_identifier']=df['census_tract_str'].str[4:]

In [31]:
df.merge_identifier.nunique()

1994

In [32]:
df['Census Tract'].nunique()

2167

In [33]:
df_new2 = df.merge(df_tracts_to_nta, how = 'left', on = 'merge_identifier')

In [34]:
df_new2

,short_name,long_name,Census Tract,2007-2011,2012-2016,census_tract_str,merge_identifier,BoroCT2010,NTACode,NTAName,BoroCT2010_str
0,hh_inc_med_adj,Median household income ($2017),36061020901,26868.476413,22646.768705,36061020901,1020901,1020901.0,MN09,Morningside Heights,1020901
1,hh_inc_med_adj,Median household income ($2017),36061021000,37333.166423,30517.876863,36061021000,1021000,1021000.0,MN34,East Harlem North,1021000
2,hh_inc_med_adj,Median household income ($2017),36061021100,56176.979469,47939.330891,36061021100,1021100,1021100.0,MN09,Morningside Heights,1021100
3,hh_inc_med_adj,Median household income ($2017),36061021200,60259.227509,55064.111177,36061021200,1021200,1021200.0,MN03,Central Harlem North-Polo Grounds,1021200
4,hh_inc_med_adj,Median household income ($2017),36061021303,46358.338272,37478.505800,36061021303,1021303,1021303.0,MN06,Manhattanville,1021303
5,hh_inc_med_adj,Median household income ($2017),36061021400,39135.816049,52546.783969,36061021400,1021400,1021400.0,MN03,Central Harlem North-Polo Grounds,1021400
6,hh_inc_med_adj,Median household income ($2017),36061021500,34551.687806,32015.630475,36061021500,1021500,1021500.0,MN03,Central Harlem North-Polo Grounds,1021500
7,hh_inc_med_adj,Median household income ($2017),36061021600,42641.389645,60837.956448,36061021600,1021600,1021600.0,MN11,Central Harlem South,1021600
8,hh_inc_med_adj,Median household income ($2017),36061021703,NaN,NaN,36061021703,1021703,1021703.0,MN06,Manhattanville,1021703
9,hh_inc_med_adj,Median household income ($2017),36061021800,43421.851299,49376.929660,36061021800,1021800,1021800.0,MN11,Central Harlem South,1021800
10,hh_inc_med_adj,Median household income ($2017),36061021900,18759.263033,22007.496061,36061021900,1021900,1021900.0,MN06,Manhattanville,1021900
11,hh_inc_med_adj,Median household income ($2017),36061022000,38898.425629,54244.374006,36061022000,1022000,1022000.0,MN11,Central Harlem South,1022000
12,hh_inc_med_adj,Median household income ($2017),36005000100,NaN,NaN,36005000100,5000100,NaN,NaN,NaN,NaN
13,hh_inc_med_adj,Median household income ($2017),36005003700,28303.658676,NaN,36005003700,5003700,NaN,NaN,NaN,NaN
14,hh_inc_med_adj,Median household income ($2017),36005003800,63683.503016,31294.791943,36005003800,5003800,NaN,NaN,NaN,NaN
15,hh_inc_med_adj,Median household income ($2017),36005003900,35635.662326,29095.571697,36005003900,5003900,5003900.0,SI08,Grymes Hill-Clifton-Fox Hills,5003900
16,hh_inc_med_adj,Median household income ($2017),36005042600,73211.639041,58271.689708,36005042600,5042600,NaN,NaN,NaN,NaN
17,hh_inc_med_adj,Median household income ($2017),36005042800,75091.250858,67491.693733,36005042800,5042800,NaN,NaN,NaN,NaN
18,hh_inc_med_adj,Median household income ($2017),36005042901,33603.210102,42204.229415,36005042901,5042901,NaN,NaN,NaN,NaN
19,hh_inc_med_adj,Median household income ($2017),36005042902,33040.627326,27690.599282,36005042902,5042902,NaN,NaN,NaN,NaN
20,hh_inc_med_adj,Median household income ($2017),36005043000,48882.914927,71006.163917,36005043000,5043000,NaN,NaN,NaN,NaN
21,hh_inc_med_adj,Median household income ($2017),36005043100,35650.837969,29206.705219,36005043100,5043100,NaN,NaN,NaN,NaN
22,hh_inc_med_adj,Median household income ($2017),36005043400,46480.827392,42669.154975,36005043400,5043400,NaN,NaN,NaN,NaN
23,hh_inc_med_adj,Median household income ($2017),36005043500,23034.458538,NaN,36005043500,5043500,NaN,NaN,NaN,NaN
24,hh_inc_med_adj,Median household income ($2017),36005043600,45758.900363,60815.525829,36005043600,5043600,NaN,NaN,NaN,NaN
25,hh_inc_med_adj,Median household income ($2017),36005044200,41473.949087,39083.314639,36005044200,5044200,NaN,NaN,NaN,NaN
26,hh_inc_med_adj,Median household income ($2017),36005044400,68318.578061,61756.592258,36005044400,5044400,NaN,NaN,NaN,NaN
27,hh_inc_med_adj,Median household income ($2017),36005044800,87265.368685,83932.317962,36005044800,5044800,NaN,NaN,NaN,NaN
28,hh_inc_med_adj,Median household income ($2017),36005044901,67748.407463,70586.099596,36005044901,5044901,NaN,NaN,NaN,NaN
29,hh_inc_med_adj,Median household income ($2017),36005044902,55449.632566,67419.304008,36005044902,5044902,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2137,hh_inc_med_adj,Median household income ($2017),36061015001,135787.320098,145471.741044,36061015001,1015001,1015001.0,MN40,Upper East Side-Carnegie Hill,1015001
2138,hh_inc_med_adj,Median household income ($2017),36061015002,186637.648778,166174.182902,36061015002,1015002,1015002.0,MN40,Upper East Side-Carnegie Hill,1015002
2139,hh_inc_med_adj,Median household income ($2017),36061015100,84008.025255,53856.936039,36061015100,1015100,1015100.0,MN14,Lincoln Square,1015100
2140,hh_inc_med_adj,Median household income ($2017),36061015200,89819.212653,74854.034667,36061015200,1015200,1015200.0,MN32,Yorkville,1015200
2141,hh_inc_med_adj,Median household income ($2017),36061015300,134297.939108,155301.450079,36061015300,1015300,1015300.0,MN14,Lincoln Square,1015300
2142,hh_inc_med_adj,Median household income ($2017),36061015400,87859.386722,83631.543751,36061015400,1015400,1015400.0,MN32,Yorkville,1015400
2143,hh_inc_med_adj,Median household income ($2017),36061015500,118607.407940,108131.897253,36061015500,1015500,1015500.0,MN14,Lincoln Square,1015500
2144,hh_inc_med_adj,Median household income ($2017),36061015601,94044.545330,89331.979724,36061015601,1015601,1015601.0,MN32,Yorkville,1015601
2145,hh_inc_med_adj,Median household income ($2017),36061015602,48666.120024,55523.938868,36061015602,1015602,1015602.0,MN33,East Harlem South,1015602
2146,hh_inc_med_adj,Median household income ($2017),36061015700,103981.339749,138306.177814,36061015700,1015700,1015700.0,MN14,Lincoln Square,1015700
2147,hh_inc_med_adj,Median household income ($2017),36061015801,153769.373400,145865.296452,36061015801,1015801,1015801.0,MN40,Upper East Side-Carnegie Hill,1015801
2148,hh_inc_med_adj,Median household income ($2017),36061015802,90141.153085,97751.618476,36061015802,1015802,1015802.0,MN33,East Harlem South,1015802
2149,hh_inc_med_adj,Median household income ($2017),36061015900,125560.020507,110301.549864,36061015900,1015900,1015900.0,MN14,Lincoln Square,1015900
2150,hh_inc_med_adj,Median household income ($2017),36061016001,200083.268717,238100.002202,36061016001,1016001,1016001.0,MN40,Upper East Side-Carnegie Hill,1016001
2151,hh_inc_med_adj,Median household income ($2017),36061016002,89698.891481,89467.583012,36061016002,1016002,1016002.0,MN33,East Harlem South,1016002
2152,hh_inc_med_adj,Median household income ($2017),36061016100,130181.003883,124463.427107,36061016100,1016100,1016100.0,MN12,Upper West Side,1016100
2153,hh_inc_med_adj,Median household income ($2017),36061016200,32288.349010,27750.754125,36061016200,1016200,1016200.0,MN33,East Harlem South,1016200
2154,hh_inc_med_adj,Median household income ($2017),36061016300,112287.836491,113800.726444,36061016300,1016300,1016300.0,MN12,Upper West Side,1016300
2155,hh_inc_med_adj,Median household income ($2017),36061016400,34456.298049,32980.147096,36061016400,1016400,1016400.0,MN33,East Harlem South,1016400
2156,hh_inc_med_adj,Median household income ($2017),36061016500,132975.490194,131809.454863,36061016500,1016500,1016500.0,MN12,Upper West Side,1016500
2157,hh_inc_med_adj,Median household income ($2017),36061016600,40295.668785,37955.666243,36061016600,1016600,1016600.0,MN33,East Harlem South,1016600
2158,hh_inc_med_adj,Median household income ($2017),36061016700,117373.844937,134311.488467,36061016700,1016700,1016700.0,MN12,Upper West Side,1016700
2159,hh_inc_med_adj,Median household income ($2017),36061016800,30563.745549,32569.258937,36061016800,1016800,1016800.0,MN33,East Harlem South,1016800
2160,hh_inc_med_adj,Median household income ($2017),36061016900,115111.590115,104027.093957,36061016900,1016900,1016900.0,MN12,Upper West Side,1016900
2161,hh_inc_med_adj,Median household income ($2017),36061017000,44698.773283,30804.377043,36061017000,1017000,1017000.0,MN33,East Harlem South,1017000
2162,hh_inc_med_adj,Median household income ($2017),36061017100,140013.736749,114689.794620,36061017100,1017100,1017100.0,MN12,Upper West Side,1017100
2163,hh_inc_med_adj,Median household income ($2017),36061017200,35961.938656,40064.144438,36061017200,1017200,1017200.0,MN33,East Harlem South,1017200
2164,hh_inc_med_adj,Median household income ($2017),36061017300,111846.658862,127556.813396,36061017300,1017300,1017300.0,MN12,Upper West Side,1017300
2165,hh_inc_med_adj,Median household income ($2017),36061017401,26029.480135,20685.109107,36061017401,1017401,1017401.0,MN33,East Harlem South,1017401
2166,hh_inc_med_adj,Median household income ($2017),36061017402,34659.001284,32325.580848,36061017402,1017402,1017402.0,MN33,East Harlem South,1017402

In [35]:
df_new2.shape

(2167, 11)

In [36]:
df_new2['NTACode'].nunique()

48

In [43]:
df_median_household_income = pd.read_csv("core_data_nyc/median_household_income_by_tract.csv")

In [56]:
df_median_household_income['Census Tract'].nunique()

2167

In [57]:
df_median_household_income

,short_name,long_name,Census Tract,2007-2011,2012-2016
0,hh_inc_med_adj,Median household income ($2017),36061020901,26868.476413,22646.768705
1,hh_inc_med_adj,Median household income ($2017),36061021000,37333.166423,30517.876863
2,hh_inc_med_adj,Median household income ($2017),36061021100,56176.979469,47939.330891
3,hh_inc_med_adj,Median household income ($2017),36061021200,60259.227509,55064.111177
4,hh_inc_med_adj,Median household income ($2017),36061021303,46358.338272,37478.505800
5,hh_inc_med_adj,Median household income ($2017),36061021400,39135.816049,52546.783969
6,hh_inc_med_adj,Median household income ($2017),36061021500,34551.687806,32015.630475
7,hh_inc_med_adj,Median household income ($2017),36061021600,42641.389645,60837.956448
8,hh_inc_med_adj,Median household income ($2017),36061021703,NaN,NaN
9,hh_inc_med_adj,Median household income ($2017),36061021800,43421.851299,49376.929660
10,hh_inc_med_adj,Median household income ($2017),36061021900,18759.263033,22007.496061
11,hh_inc_med_adj,Median household income ($2017),36061022000,38898.425629,54244.374006
12,hh_inc_med_adj,Median household income ($2017),36005000100,NaN,NaN
13,hh_inc_med_adj,Median household income ($2017),36005003700,28303.658676,NaN
14,hh_inc_med_adj,Median household income ($2017),36005003800,63683.503016,31294.791943
15,hh_inc_med_adj,Median household income ($2017),36005003900,35635.662326,29095.571697
16,hh_inc_med_adj,Median household income ($2017),36005042600,73211.639041,58271.689708
17,hh_inc_med_adj,Median household income ($2017),36005042800,75091.250858,67491.693733
18,hh_inc_med_adj,Median household income ($2017),36005042901,33603.210102,42204.229415
19,hh_inc_med_adj,Median household income ($2017),36005042902,33040.627326,27690.599282
20,hh_inc_med_adj,Median household income ($2017),36005043000,48882.914927,71006.163917
21,hh_inc_med_adj,Median household income ($2017),36005043100,35650.837969,29206.705219
22,hh_inc_med_adj,Median household income ($2017),36005043400,46480.827392,42669.154975
23,hh_inc_med_adj,Median household income ($2017),36005043500,23034.458538,NaN
24,hh_inc_med_adj,Median household income ($2017),36005043600,45758.900363,60815.525829
25,hh_inc_med_adj,Median household income ($2017),36005044200,41473.949087,39083.314639
26,hh_inc_med_adj,Median household income ($2017),36005044400,68318.578061,61756.592258
27,hh_inc_med_adj,Median household income ($2017),36005044800,87265.368685,83932.317962
28,hh_inc_med_adj,Median household income ($2017),36005044901,67748.407463,70586.099596
29,hh_inc_med_adj,Median household income ($2017),36005044902,55449.632566,67419.304008
...,...,...,...,...,...
2137,hh_inc_med_adj,Median household income ($2017),36061015001,135787.320098,145471.741044
2138,hh_inc_med_adj,Median household income ($2017),36061015002,186637.648778,166174.182902
2139,hh_inc_med_adj,Median household income ($2017),36061015100,84008.025255,53856.936039
2140,hh_inc_med_adj,Median household income ($2017),36061015200,89819.212653,74854.034667
2141,hh_inc_med_adj,Median household income ($2017),36061015300,134297.939108,155301.450079
2142,hh_inc_med_adj,Median household income ($2017),36061015400,87859.386722,83631.543751
2143,hh_inc_med_adj,Median household income ($2017),36061015500,118607.407940,108131.897253
2144,hh_inc_med_adj,Median household income ($2017),36061015601,94044.545330,89331.979724
2145,hh_inc_med_adj,Median household income ($2017),36061015602,48666.120024,55523.938868
2146,hh_inc_med_adj,Median household income ($2017),36061015700,103981.339749,138306.177814
2147,hh_inc_med_adj,Median household income ($2017),36061015801,153769.373400,145865.296452
2148,hh_inc_med_adj,Median household income ($2017),36061015802,90141.153085,97751.618476
2149,hh_inc_med_adj,Median household income ($2017),36061015900,125560.020507,110301.549864
2150,hh_inc_med_adj,Median household income ($2017),36061016001,200083.268717,238100.002202
2151,hh_inc_med_adj,Median household income ($2017),36061016002,89698.891481,89467.583012
2152,hh_inc_med_adj,Median household income ($2017),36061016100,130181.003883,124463.427107
2153,hh_inc_med_adj,Median household income ($2017),36061016200,32288.349010,27750.754125
2154,hh_inc_med_adj,Median household income ($2017),36061016300,112287.836491,113800.726444
2155,hh_inc_med_adj,Median household income ($2017),36061016400,34456.298049,32980.147096
2156,hh_inc_med_adj,Median household income ($2017),36061016500,132975.490194,131809.454863
2157,hh_inc_med_adj,Median household income ($2017),36061016600,40295.668785,37955.666243
2158,hh_inc_med_adj,Median household income ($2017),36061016700,117373.844937,134311.488467
2159,hh_inc_med_adj,Median household income ($2017),36061016800,30563.745549,32569.258937
2160,hh_inc_med_adj,Median household income ($2017),36061016900,115111.590115,104027.093957
2161,hh_inc_med_adj,Median household income ($2017),36061017000,44698.773283,30804.377043
2162,hh_inc_med_adj,Median household income ($2017),36061017100,140013.736749,114689.794620
2163,hh_inc_med_adj,Median household income ($2017),36061017200,35961.938656,40064.144438
2164,hh_inc_med_adj,Median household income ($2017),36061017300,111846.658862,127556.813396
2165,hh_inc_med_adj,Median household income ($2017),36061017401,26029.480135,20685.109107
2166,hh_inc_med_adj,Median household income ($2017),36061017402,34659.001284,32325.580848

In [44]:
df_median_household_income.head()

,short_name,long_name,Census Tract,2007-2011,2012-2016
0,hh_inc_med_adj,Median household income ($2017),36061020901,26868.476413,22646.768705
1,hh_inc_med_adj,Median household income ($2017),36061021000,37333.166423,30517.876863
2,hh_inc_med_adj,Median household income ($2017),36061021100,56176.979469,47939.330891
3,hh_inc_med_adj,Median household income ($2017),36061021200,60259.227509,55064.111177
4,hh_inc_med_adj,Median household income ($2017),36061021303,46358.338272,37478.505800

In [89]:
db_test = pd.read_csv("core_data_nyc/nta_neighborhood_census_tract.csv")

In [90]:
db_test.head()

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name
0,Bronx,5,2,31000,3704,BX31,Allerton-Pelham Gardens
1,Bronx,5,2,31200,3704,BX31,Allerton-Pelham Gardens
2,Bronx,5,2,31400,3704,BX31,Allerton-Pelham Gardens
3,Bronx,5,2,31600,3704,BX31,Allerton-Pelham Gardens
4,Bronx,5,2,31800,3704,BX31,Allerton-Pelham Gardens

In [50]:
db_crime_nta.shape

(59, 15)

In [46]:
db_crime_nta.head()

,short_name,long_name,Community District,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,crime_all_rt,"Serious crime rate (per 1,000 residents)",SI 02 - South Beach/Willowbrook,6.736391,7.641397,7.381700,6.272084,5.560480,5.348363,6.401370,6.355916,6.287736,6.265009,6.355916,4.893828
1,crime_all_rt,"Serious crime rate (per 1,000 residents)",SI 03 - Tottenville/Great Kills,4.545217,4.571376,4.787192,3.943548,3.807526,4.163312,3.957331,3.801285,3.707657,3.620271,3.046021,2.840040
2,crime_all_rt,"Serious crime rate (per 1,000 residents)",MN 01 - Financial District,41.226031,39.889599,36.141778,33.207438,16.661747,16.956935,16.054971,15.858178,15.349798,17.645708,17.137328,16.776542
3,crime_all_rt,"Serious crime rate (per 1,000 residents)",MN 02 - Greenwich Village/Soho,34.289458,32.163146,30.337525,29.005896,27.839495,27.072965,28.106114,28.450498,25.484358,27.039637,24.006843,23.817988
4,crime_all_rt,"Serious crime rate (per 1,000 residents)",MN 03 - Lower East Side/Chinatown,14.512764,14.281630,14.445857,13.557817,13.296423,13.112686,14.012996,14.098740,13.124935,13.400540,14.282477,13.645523

In [48]:
db_crime_nta['Community District'].unique()

array(['SI 02 - South Beach/Willowbrook',
       'SI 03 - Tottenville/Great Kills', 'MN 01 - Financial District',
       'MN 02 - Greenwich Village/Soho',
       'MN 03 - Lower East Side/Chinatown', 'MN 04 - Clinton/Chelsea',
       'MN 05 - Midtown', 'MN 06 - Stuyvesant Town/Turtle Bay',
       'MN 07 - Upper West Side', 'MN 08 - Upper East Side',
       'MN 09 - Morningside Heights/Hamilton', 'MN 10 - Central Harlem',
       'MN 11 - East Harlem', 'MN 12 - Washington Heights/Inwood',
       'BX 01 - Mott Haven/Melrose', 'BX 02 - Hunts Point/Longwood',
       'BX 03 - Morrisania/Crotona', 'BX 04 - Highbridge/Concourse',
       'BX 05 - Fordham/University Heights',
       'BX 06 - Belmont/East Tremont',
       'BX 07 - Kingsbridge Heights/Bedford',
       'BX 08 - Riverdale/Fieldston', 'BX 09 - Parkchester/Soundview',
       'BX 10 - Throgs Neck/Co-op City', 'BX 11 - Morris Park/Bronxdale',
       'BX 12 - Williamsbridge/Baychester',
       'BK 01 - Greenpoint/Williamsburg',
       'BK 02 - Fort Greene/Brooklyn Heights',
       'BK 03 - Bedford Stuyvesant', 'BK 04 - Bushwick',
       'BK 05 - East New York/Starrett City',
       'BK 06 - Park Slope/Carroll Gardens', 'BK 07 - Sunset Park',
       'BK 08 - Crown Heights/Prospect Heights',
       'BK 09 - South Crown Heights/Lefferts Gardens',
       'BK 10 - Bay Ridge/Dyker Heights', 'BK 11 - Bensonhurst',
       'BK 12 - Borough Park', 'BK 13 - Coney Island',
       'BK 14 - Flatbush/Midwood', 'BK 15 - Sheepshead Bay',
       'BK 16 - Brownsville', 'BK 17 - East Flatbush',
       'BK 18 - Flatlands/Canarsie', 'QN 01 - Astoria',
       'QN 02 - Woodside/Sunnyside', 'QN 14 - Rockaway/Broad Channel',
       'SI 01 - St. George/Stapleton', 'QN 03 - Jackson Heights',
       'QN 04 - Elmhurst/Corona', 'QN 05 - Ridgewood/Maspeth',
       'QN 06 - Rego Park/Forest Hills', 'QN 07 - Flushing/Whitestone',
       'QN 08 - Hillcrest/Fresh Meadows', 'QN 09 - Kew Gardens/Woodhaven',
       'QN 10 - South Ozone Park/Howard Beach',
       'QN 11 - Bayside/Little Neck', 'QN 12 - Jamaica/Hollis',
       'QN 13 - Queens Village'], dtype=object)

In [49]:
db_crime_nta['Community District'].str[:5]

0     SI 02
1     SI 03
2     MN 01
3     MN 02
4     MN 03
5     MN 04
6     MN 05
7     MN 06
8     MN 07
9     MN 08
10    MN 09
11    MN 10
12    MN 11
13    MN 12
14    BX 01
15    BX 02
16    BX 03
17    BX 04
18    BX 05
19    BX 06
20    BX 07
21    BX 08
22    BX 09
23    BX 10
24    BX 11
25    BX 12
26    BK 01
27    BK 02
28    BK 03
29    BK 04
30    BK 05
31    BK 06
32    BK 07
33    BK 08
34    BK 09
35    BK 10
36    BK 11
37    BK 12
38    BK 13
39    BK 14
40    BK 15
41    BK 16
42    BK 17
43    BK 18
44    QN 01
45    QN 02
46    QN 14
47    SI 01
48    QN 03
49    QN 04
50    QN 05
51    QN 06
52    QN 07
53    QN 08
54    QN 09
55    QN 10
56    QN 11
57    QN 12
58    QN 13
Name: Community District, dtype: object

In [ ]:
db_crime_nta['borough'] = db_crime_nta['Community District'].str[:2]

In [60]:
db_rent_tract = pd.read_csv("core_data_nyc/median_rent_by_tract.csv")

In [63]:
db_rent_tract['Census Tract'].nunique()

2167

In [64]:
df_median_household_income['Census Tract'].nunique()

2167

In [73]:
db_rent_tract.head()

,short_name,long_name,Census Tract,2007-2011,2012-2016,median_rent_07_to_11,median_rent_12_to_16,census_tract
0,rent_gross_med_adj,"Median rent, all ($2017)",36005025100,1166.356583,1085.845879,1166.356583,1085.845879,36005025100
1,rent_gross_med_adj,"Median rent, all ($2017)",36005025200,1157.684787,1424.344313,1157.684787,1424.344313,36005025200
2,rent_gross_med_adj,"Median rent, all ($2017)",36005025300,1038.447590,1183.724944,1038.447590,1183.724944,36005025300
3,rent_gross_med_adj,"Median rent, all ($2017)",36005025400,1127.333500,1358.072029,1127.333500,1358.072029,36005025400
4,rent_gross_med_adj,"Median rent, all ($2017)",36005025500,1063.379004,1079.728438,1063.379004,1079.728438,36005025500

In [68]:
db_rent_tract['median_rent_07_to_11'] = db_rent_tract['2007-2011']

In [70]:
db_rent_tract['median_rent_12_to_16'] = db_rent_tract['2012-2016']

In [72]:
db_rent_tract['census_tract'] = db_rent_tract['Census Tract']

In [74]:
df_rent = db_rent_tract[['census_tract','median_rent_07_to_11', 'median_rent_12_to_16']]

In [86]:
df_rent.shape

(2167, 3)

In [77]:
df_rent.head()

   census_tract  median_rent_07_to_11  median_rent_12_to_16
0   36005025100           1166.356583           1085.845879
1   36005025200           1157.684787           1424.344313
2   36005025300           1038.447590           1183.724944
3   36005025400           1127.333500           1358.072029
4   36005025500           1063.379004           1079.728438

In [82]:
df_median_household_income.head()

,short_name,long_name,Census Tract,2007-2011,2012-2016,census_tract,median_income_07_to_11,median_income_12_to_16
0,hh_inc_med_adj,Median household income ($2017),36061020901,26868.476413,22646.768705,36061020901,26868.476413,22646.768705
1,hh_inc_med_adj,Median household income ($2017),36061021000,37333.166423,30517.876863,36061021000,37333.166423,30517.876863
2,hh_inc_med_adj,Median household income ($2017),36061021100,56176.979469,47939.330891,36061021100,56176.979469,47939.330891
3,hh_inc_med_adj,Median household income ($2017),36061021200,60259.227509,55064.111177,36061021200,60259.227509,55064.111177
4,hh_inc_med_adj,Median household income ($2017),36061021303,46358.338272,37478.505800,36061021303,46358.338272,37478.505800

In [78]:
df_median_household_income['census_tract'] = df_median_household_income['Census Tract']

In [79]:
df_median_household_income['median_income_07_to_11'] = df_median_household_income['2007-2011']

In [81]:
df_median_household_income['median_income_12_to_16'] = df_median_household_income['2012-2016']

In [83]:
df_income = df_median_household_income[['census_tract','median_income_07_to_11', 'median_income_12_to_16']]

In [85]:
df_income.shape

(2167, 3)

In [87]:
df_combined = df_income.merge(df_rent, on='census_tract')

In [88]:
df_combined.sort

,census_tract,median_income_07_to_11,median_income_12_to_16,median_rent_07_to_11,median_rent_12_to_16
0,36061020901,26868.476413,22646.768705,558.246877,820.756744
1,36061021000,37333.166423,30517.876863,757.698189,946.164297
2,36061021100,56176.979469,47939.330891,1029.775793,1140.902853
3,36061021200,60259.227509,55064.111177,1142.509143,1532.419114
4,36061021303,46358.338272,37478.505800,1057.959131,1258.153817
5,36061021400,39135.816049,52546.783969,985.332838,1186.783665
6,36061021500,34551.687806,32015.630475,922.462316,1118.472234
7,36061021600,42641.389645,60837.956448,1021.103997,1200.038122
8,36061021703,NaN,NaN,NaN,NaN
9,36061021800,43421.851299,49376.929660,1126.249526,1207.175137
10,36061021900,18759.263033,22007.496061,581.010342,538.334858
11,36061022000,38898.425629,54244.374006,994.004634,1071.571849
12,36005000100,NaN,NaN,NaN,NaN
13,36005003700,28303.658676,NaN,1354.968149,948.203444
14,36005003800,63683.503016,31294.791943,1208.631589,928.831546
15,36005003900,35635.662326,29095.571697,964.737322,1087.885026
16,36005042600,73211.639041,58271.689708,NaN,NaN
17,36005042800,75091.250858,67491.693733,NaN,NaN
18,36005042901,33603.210102,42204.229415,1128.417475,1245.918934
19,36005042902,33040.627326,27690.599282,1078.554647,1257.134243
20,36005043000,48882.914927,71006.163917,NaN,NaN
21,36005043100,35650.837969,29206.705219,1133.837347,1204.116416
22,36005043400,46480.827392,42669.154975,1188.036073,1234.703624
23,36005043500,23034.458538,NaN,NaN,815.658876
24,36005043600,45758.900363,60815.525829,1210.799538,NaN
25,36005044200,41473.949087,39083.314639,1074.218749,1221.449168
26,36005044400,68318.578061,61756.592258,NaN,NaN
27,36005044800,87265.368685,83932.317962,NaN,NaN
28,36005044901,67748.407463,70586.099596,1298.601474,1273.447421
29,36005044902,55449.632566,67419.304008,1285.593780,1308.112923
...,...,...,...,...,...
2137,36061015001,135787.320098,145471.741044,NaN,NaN
2138,36061015002,186637.648778,166174.182902,NaN,NaN
2139,36061015100,84008.025255,53856.936039,NaN,1116.433087
2140,36061015200,89819.212653,74854.034667,1515.396378,1194.940254
2141,36061015300,134297.939108,155301.450079,NaN,2655.989216
2142,36061015400,87859.386722,83631.543751,1863.352199,1947.385568
2143,36061015500,118607.407940,108131.897253,NaN,NaN
2144,36061015601,94044.545330,89331.979724,NaN,2171.691759
2145,36061015602,48666.120024,55523.938868,1063.379004,981.849373
2146,36061015700,103981.339749,138306.177814,1802.649626,2112.556490
2147,36061015801,153769.373400,145865.296452,NaN,2451.054924
2148,36061015802,90141.153085,97751.618476,NaN,2437.800467
2149,36061015900,125560.020507,110301.549864,NaN,2163.535170
2150,36061016001,200083.268717,238100.002202,NaN,NaN
2151,36061016002,89698.891481,89467.583012,1520.816251,1697.590037
2152,36061016100,130181.003883,124463.427107,2001.016963,2355.215006
2153,36061016200,32288.349010,27750.754125,674.232151,803.423993
2154,36061016300,112287.836491,113800.726444,1934.894517,2117.654358
2155,36061016400,34456.298049,32980.147096,715.423183,892.126896
2156,36061016500,132975.490194,131809.454863,2137.597752,1949.424715
2157,36061016600,40295.668785,37955.666243,1107.821959,1076.669717
2158,36061016700,117373.844937,134311.488467,2158.193268,2191.063657
2159,36061016800,30563.745549,32569.258937,575.590470,644.370512
2160,36061016900,115111.590115,104027.093957,2073.643256,2090.125871
2161,36061017000,44698.773283,30804.377043,943.057832,1083.806732
2162,36061017100,140013.736749,114689.794620,1861.184250,1870.917548
2163,36061017200,35961.938656,40064.144438,855.255896,1077.689291
2164,36061017300,111846.658862,127556.813396,1862.268224,1794.449528
2165,36061017401,26029.480135,20685.109107,804.309093,871.735424
2166,36061017402,34659.001284,32325.580848,1095.898239,1449.833653