# Predicting Median Income in NYC
## Create NTA to zipcode key

1A - NYC population demographics by zipcode using API call<br>
(Source: https://data.cityofnewyork.us/City-Government/Demographic-Statistics-By-Zip-Code/kku6-nxdu/data)

In [53]:
import requests
from NYC_SODA_API import app_token
import pandas as pd

In [54]:
url = 'https://data.cityofnewyork.us/resource/kku6-nxdu.json'
url_params = {"$$app_token": app_token }
response = requests.get(url, params=url_params)

In [55]:
df_demographics = pd.DataFrame(response.json())
df_demographics = df_demographics[['jurisdiction_name', 'count_male','count_female',
       'count_participants','count_american_indian',
       'count_asian_non_hispanic', 'count_black_non_hispanic',
       'count_citizen_status_total', 'count_citizen_status_unknown',
       'count_ethnicity_total', 'count_ethnicity_unknown',
       'count_gender_total', 'count_gender_unknown', 'count_hispanic_latino','count_nreceives_public_assistance',
       'count_other_citizen_status', 'count_other_ethnicity',
       'count_pacific_islander', 'count_permanent_resident_alien', 'count_public_assistance_total',
       'count_public_assistance_unknown', 'count_receives_public_assistance',
       'count_us_citizen', 'count_white_non_hispanic',
       'percent_american_indian', 'percent_asian_non_hispanic',
       'percent_black_non_hispanic', 'percent_citizen_status_total',
       'percent_citizen_status_unknown', 'percent_ethnicity_total',
       'percent_ethnicity_unknown', 'percent_female', 'percent_gender_total',
       'percent_gender_unknown', 'percent_hispanic_latino', 'percent_male',
       'percent_nreceives_public_assistance', 'percent_other_citizen_status',
       'percent_other_ethnicity', 'percent_pacific_islander',
       'percent_permanent_resident_alien', 'percent_public_assistance_total',
       'percent_public_assistance_unknown', 'percent_receives_public_assistance', 'percent_us_citizen',
       'percent_white_non_hispanic']]
df_demographics

,jurisdiction_name,count_male,count_female,count_participants,count_american_indian,count_asian_non_hispanic,count_black_non_hispanic,count_citizen_status_total,count_citizen_status_unknown,count_ethnicity_total,...,percent_nreceives_public_assistance,percent_other_citizen_status,percent_other_ethnicity,percent_pacific_islander,percent_permanent_resident_alien,percent_public_assistance_total,percent_public_assistance_unknown,percent_receives_public_assistance,percent_us_citizen,percent_white_non_hispanic
0,10001,22,22,44,0,3,21,44,0,44,...,0.55,0,0.07,0,0.05,100,0,0.45,0.95,0.02
1,10002,16,19,35,0,28,0,35,0,35,...,0.94,0,0,0,0.06,100,0,0.06,0.94,0.17
2,10003,0,1,1,0,1,0,1,0,1,...,1,0,0,0,0,100,0,0,1,0
3,10004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10005,0,2,2,0,1,1,2,0,2,...,1,0,0,0,0.5,100,0,0,0.5,0
5,10006,4,2,6,0,0,3,6,0,6,...,1,0,0,0,0,100,0,0,1,0.17
6,10007,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,100,0,1,1,0
7,10009,2,0,2,0,2,0,2,0,2,...,1,0,0,0,0,100,0,0,1,0
8,10010,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10011,1,2,3,0,0,1,3,0,3,...,1,0,0.33,0,0,100,0,0,1,0
10,10012,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,10013,7,1,8,0,8,0,8,0,8,...,0.88,0,0,0,0,100,0,0.13,1,0
12,10014,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,10016,5,12,17,0,0,8,17,0,17,...,0.47,0,0,0,0,100,0,0.53,1,0
14,10017,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,10018,1,2,3,0,3,0,3,0,3,...,1,0,0,0,0.33,100,0,0,0.67,0
16,10019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,10020,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,10021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,10022,0,1,1,0,1,0,1,0,1,...,1,0,0,0,0,100,0,0,1,0
20,10023,2,5,7,0,1,3,7,0,7,...,0.29,0,0,0,0,100,0,0.71,1,0
21,10024,0,4,4,0,0,0,4,0,4,...,0.75,0,0,0,0,100,0,0.25,1,0.75
22,10025,10,17,27,0,0,11,27,0,27,...,0.7,0,0.04,0,0.11,100,0,0.3,0.89,0
23,10026,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,10027,3,4,7,0,1,4,7,0,7,...,0.86,0,0.14,0,0.14,100,0,0.14,0.86,0
25,10028,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,10029,7,13,20,0,0,15,20,0,20,...,0.6,0,0.05,0,0,100,0,0.4,1,0
27,10030,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,10031,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,10032,9,4,13,0,1,2,13,0,13,...,0.62,0,0.08,0,0.08,100,0,0.38,0.92,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,11731,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
207,11798,2,3,5,0,0,5,5,0,5,...,1,0,0,0,0,100,0,0,1,0
208,11968,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
209,12423,20,1,21,0,0,0,21,0,21,...,0.76,0,0.05,0,0,100,0,0.24,1,0.9
210,12428,50,74,124,0,0,0,124,0,124,...,0.43,0,0.03,0.02,0,100,0,0.57,1,0.94
211,12435,50,5,55,0,0,0,55,0,55,...,0.65,0,0.09,0,0,100,0,0.35,1,0.91
212,12458,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213,12466,0,44,44,0,0,0,44,0,44,...,0.2,0,0,0,0,100,0,0.8,1,1
214,12473,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
215,12528,50,2,52,0,0,0,52,0,52,...,0.6,0,0.12,0,0.02,100,0,0.4,0.98,0.88
216,12701,38,49,87,0,0,0,87,0,87,...,0.79,0,0.02,0,0,100,0,0.21,1,0.95
217,12733,7,6,13,0,0,0,13,0,13,...,0.85,0,0,0,0,100,0,0.15,1,1
218,12734,82,170,252,0,0,0,252,0,252,...,0.76,0,0.02,0,0,100,0,0.24,1,0.96
219,12737,1,34,35,0,0,0,35,0,35,...,0.43,0,0,0,0.06,100,0,0.57,0.94,1
220,12750,1,36,37,0,0,0,37,0,37,...,0.43,0,0,0,0,100,0,0.57,1,1
221,12751,5,2,7,0,0,0,7,0,7,...,0.71,0,0,0,0,100,0,0.29,1,1
222,12754,70,64,134,0,0,0,134,0,134,...,0.8,0,0.03,0.01,0.01,100,0,0.2,0.99,0.95
223,12758,32,50,82,0,0,0,82,0,82,...,0.71,0,0.07,0,0,100,0,0.29,1,0.93
224,12759,11,0,11,0,0,0,11,0,11,...,0.27,0,0,0,0,100,0,0.73,1,1
225,12763,0,11,11,0,0,0,11,0,11,...,0.27,0,0,0,0,100,0,0.73,1,1
226,12764,3,61,64,0,0,0,64,0,64,...,0.92,0,0.03,0,0,100,0,0.08,1,0.97
227,12768,62,1,63,0,0,0,63,0,63,...,0.63,0,0.02,0,0,100,0,0.37,1,0.97
228,12779,59,183,242,0,0,0,242,0,242,...,0.36,0,0.01,0,0,100,0,0.64,1,0.99
229,12783,135,66,201,2,0,0,201,0,201,...,0.62,0,0.01,0,0.02,100,0,0.38,0.98,0.97
230,12786,1,3,4,0,0,0,4,0,4,...,0.75,0,0,0,0,100,0,0.25,1,1
231,12788,44,39,83,0,0,0,83,0,83,...,0.58,0,0.02,0,0,100,0,0.42,1,0.98
232,12789,157,115,272,0,0,0,272,0,272,...,0.74,0,0.02,0,0,100,0,0.26,1,0.96
233,13731,15,2,17,0,0,0,17,0,17,...,0.59,0,0.12,0,0,100,0,0.41,1,0.88
234,16091,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235,20459,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

1B - 1Population by NYC NTA Code

In [58]:
url = 'https://data.cityofnewyork.us/resource/swpk-hqdp.json'

url_params = {"$$app_token": app_token }

response1 = requests.get(url, params=url_params)

In [59]:
df_nta_pop = pd.DataFrame(response1.json())
df_nta_pop.head()

,borough,fips_county_code,nta_code,nta_name,population,year
0,Bronx,005,BX01,Claremont-Bathgate,28149,2000
1,Bronx,005,BX03,Eastchester-Edenwald-Baychester,35422,2000
2,Bronx,005,BX05,Bedford Park-Fordham North,55329,2000
3,Bronx,005,BX06,Belmont,25967,2000
4,Bronx,005,BX07,Bronxdale,34309,2000

In [60]:
all_nta_codes = df_nta_pop.nta_code.unique()

2. Directory of eateries <br>
(Source: https://data.cityofnewyork.us/Recreation/Directory-of-Eateries/8792-ebcp)

In [7]:
import json
eateries = json.loads(open('DPR_Eateries.json').read())

df_eateries = pd.DataFrame(eateries)
df_eateries.groupby('type_name').count()

,description,end_date,location,name,park_id,permit_number,phone,start_date,website
type_name,,,,,,,,,
Food Cart,1,70,71,71,71,71,0,70,0
Fruit & Vegetable Cart,0,4,4,4,4,4,1,4,0
Mobile Food Truck,1,111,111,111,111,111,0,111,0
Restaurant,11,13,14,14,14,14,11,13,12
Snack Bar,17,24,24,24,24,24,12,24,13
Specialty Cart,6,18,18,18,18,18,3,18,5

2B - List of Legally Operating Businesses<br>
(Source: https://data.cityofnewyork.us/resource/p2mh-mrfv.json)

In [8]:
import csv
url = 'https://data.cityofnewyork.us/resource/p2mh-mrfv.json'
url_params = {"$$app_token": app_token }
response3 = requests.get(url, params=url_params)

In [9]:
df_businesses = pd.DataFrame(response3.json())

In [10]:
df_businesses = df_businesses.iloc[:,5:]
df_businesses.industry.unique()

array(['Home Improvement Salesperson', 'General Vendor',
       'Tow Truck Driver', 'Pedicab Driver', 'Sightseeing Guide',
       'Electronic & Appliance Service', 'Locksmith',
       'Debt Collection Agency', 'Process Server Individual',
       'Auctioneer', 'Home Improvement Contractor', 'Ticket Seller',
       'Process Serving Agency', 'Tobacco Retail Dealer', 'Garage',
       'Electronics Store', 'Horse Drawn Driver', 'Pawnbroker',
       'Sidewalk Cafe', 'Secondhand Dealer - General',
       'Amusement Device Portable', 'Dealer In Products', 'Laundry',
       'Motion Picture Projectionist', 'Stoop Line Stand',
       'Pedicab Business', 'Locksmith Apprentice',
       'Electronic Cigarette Dealer', 'Tow Truck Company', 'Laundries',
       'Employment Agency', 'Newsstand'], dtype=object)

2C - List of NYC restaurants (via restaurant inspection results)<br>

- Only restaurants in an active status are included in the dataset.<br>
- Records are also included for each restaurant that has applied for a permit but has not yet been inspected and for inspections resulting in no violations.<br>
- Establishments with inspection date of '1900-01-01T00:00:00.000' are new establishments that have not yet received an inspection.<br>
- No violations are represented by a single row and coded as having no violations using the ACTION field.</i>

In [89]:
restaurants = pd.read_csv('nyc_Restaurant_Inspection_Results.csv')
restaurants.shape

(385800, 18)

In [90]:
# CAMIS is a unique identifier for each restaurant
restaurants.groupby('ZIPCODE').count()

,CAMIS,DBA,BORO,BUILDING,STREET,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
ZIPCODE,,,,,,,,,,,,,,,,,
10000.0,28,28,28,28,28,28,28,28,28,28,28,28,27,15,15,28,28
10001.0,6862,6853,6862,6825,6862,6862,6862,6862,6838,6776,6736,6862,6528,3544,3536,6862,6838
10002.0,7643,7636,7643,7643,7643,7643,7643,7643,7614,7529,7465,7643,7249,3634,3568,7643,7614
10003.0,9991,9979,9991,9991,9991,9991,9991,9991,9948,9825,9766,9991,9401,4842,4798,9991,9948
10004.0,1874,1872,1874,1873,1874,1874,1874,1874,1862,1844,1839,1874,1797,1044,1040,1874,1862
10005.0,905,903,905,905,905,905,905,905,902,890,882,905,863,506,506,905,902
10006.0,634,634,634,634,634,634,634,634,633,626,622,634,608,327,327,634,633
10007.0,1960,1960,1960,1960,1960,1960,1960,1960,1957,1933,1923,1960,1848,1080,1080,1960,1957
10009.0,4490,4484,4490,4490,4490,4490,4490,4490,4474,4422,4385,4490,4216,2159,2139,4490,4474
10010.0,3560,3552,3560,3560,3560,3560,3560,3560,3546,3508,3495,3560,3390,1816,1801,3560,3546
10011.0,6380,6376,6380,6368,6380,6380,6380,6380,6368,6298,6251,6380,6075,3224,3201,6380,6368
10012.0,6033,6028,6033,6033,6033,6033,6033,6033,6009,5951,5907,6033,5708,2915,2904,6033,6009
10013.0,8259,8255,8259,8248,8259,8259,8259,8259,8243,8148,8110,8259,7918,3910,3887,8259,8243
10014.0,5462,5449,5462,5462,5462,5461,5462,5462,5427,5370,5331,5462,5165,2761,2736,5462,5427
10016.0,7178,7164,7178,7178,7178,7178,7178,7178,7156,7080,7059,7178,6857,3497,3489,7178,7156
10017.0,5212,5204,5212,5206,5212,5212,5212,5212,5190,5137,5129,5212,4983,2632,2630,5212,5190
10018.0,5057,5047,5057,5057,5057,5057,5057,5057,5039,5003,4966,5057,4832,2628,2614,5057,5039
10019.0,9300,9292,9300,9299,9300,9300,9300,9300,9274,9189,9127,9300,8885,4880,4856,9300,9274
10020.0,372,372,372,372,372,372,372,372,372,359,357,372,358,223,223,372,372
10021.0,2229,2229,2229,2229,2229,2229,2229,2229,2224,2205,2199,2229,2107,1140,1132,2229,2224
10022.0,6276,6270,6276,6276,6276,6276,6276,6276,6257,6198,6178,6276,5984,3279,3263,6276,6257
10023.0,2495,2491,2495,2495,2495,2495,2495,2495,2487,2458,2443,2495,2378,1317,1311,2495,2487
10024.0,2849,2845,2849,2812,2849,2849,2849,2849,2836,2812,2802,2849,2706,1408,1393,2849,2836
10025.0,3583,3577,3583,3583,3583,3583,3583,3583,3571,3538,3532,3583,3407,1712,1697,3583,3571
10026.0,1250,1248,1250,1250,1250,1250,1250,1250,1244,1226,1223,1250,1155,634,627,1250,1244
10027.0,2554,2549,2554,2554,2554,2554,2554,2554,2545,2517,2507,2554,2440,1222,1218,2554,2545
10028.0,2916,2913,2916,2916,2916,2916,2916,2916,2908,2881,2869,2916,2750,1484,1484,2916,2908
10029.0,3254,3248,3254,3254,3254,3254,3254,3254,3241,3218,3213,3254,3102,1609,1598,3254,3241
10030.0,416,415,416,416,416,416,416,416,412,409,404,416,396,219,208,416,412
10031.0,1902,1899,1902,1902,1902,1902,1902,1902,1895,1873,1867,1902,1809,882,875,1902,1895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11385.0,3786,3777,3786,3786,3786,3786,3786,3786,3771,3722,3687,3786,3598,2006,1971,3786,3771
11411.0,335,335,335,335,335,335,335,335,335,330,329,335,323,165,165,335,335
11412.0,583,582,583,583,583,583,583,583,582,577,572,583,551,312,299,583,582
11413.0,761,760,761,761,761,761,761,761,757,750,743,761,737,364,342,761,757
11414.0,736,734,736,736,736,736,736,736,733,722,721,736,708,403,403,736,733
11415.0,508,507,508,508,508,508,508,508,507,501,501,508,486,263,263,508,507
11416.0,549,547,549,549,549,549,549,549,546,538,535,549,528,292,285,549,546
11417.0,1118,1117,1118,1118,1118,1118,1118,1118,1117,1104,1098,1118,1063,581,579,1118,1117
11418.0,1508,1502,1508,1508,1508,1508,1508,1508,1499,1474,1455,1508,1412,702,678,1508,1499
11419.0,1591,1588,1591,1591,1591,1591,1591,1591,1587,1564,1546,1591,1519,738,738,1591,1587
11420.0,1213,1211,1213,1213,1213,1213,1213,1213,1210,1198,1198,1213,1174,658,647,1213,1210
11421.0,1230,1227,1230,1230,1230,1230,1230,1230,1224,1217,1214,1230,1172,612,612,1230,1224
11422.0,498,496,498,498,498,498,498,498,495,491,487,498,475,257,253,498,495
11423.0,435,433,435,435,435,435,435,435,432,429,418,435,411,223,217,435,432
11426.0,382,380,382,382,382,382,382,382,378,375,373,382,365,206,201,382,378
11427.0,282,282,282,282,282,282,282,282,281,280,277,282,268,153,153,282,281
11428.0,763,761,763,763,763,763,763,763,759,749,743,763,717,359,344,763,759
11429.0,351,350,351,351,351,351,351,351,350,347,339,351,334,183,178,351,350
11430.0,1349,1347,1349,1291,1349,1349,1349,1349,1342,1323,1323,1349,1289,847,846,1349,1342
11432.0,2747,2741,2747,2747,2747,2747,2747,2747,2734,2705,2687,2747,2638,1389,1383,2747,2734
11433.0,425,424,425,425,425,425,425,425,423,415,412,425,406,207,207,425,423
11434.0,1107,1103,1107,1107,1107,1107,1107,1107,1102,1093,1080,1107,1054,546,543,1107,1102
11435.0,1826,1826,1826,1826,1826,1826,1826,1826,1821,1793,1783,1826,1748,908,898,1826,1821
11436.0,293,292,293,293,293,293,293,293,292,286,280,293,277,148,148,293,292
11691.0,714,712,714,714,714,714,714,714,712,701,701,714,683,397,393,714,712
11692.0,111,111,111,111,111,111,111,111,110,108,108,111,106,65,65,111,110
11693.0,440,440,440,440,440,440,440,440,439,433,430,440,417,200,200,440,439
11694.0,488,486,488,488,488,488,488,488,486,484,483,488,472,273,273,488,486
11697.0,42,42,42,42,42,42,42,42,42,42,42,42,39,27,27,42,42
12345.0,9,9,9,9,9,9,9,9,9,9,9,9,9,7,3,9,9

3 - NYC geographic info
(Source: https://www1.nyc.gov/site/planning/data-maps/open-data.page)

In [13]:
import csv

In [61]:
nyc_geo = pd.read_csv('pluto_18v2.csv')

/Users/gracejeong/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (16,17,18,20,22,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [62]:
nyc_geo.ct2010.nunique()

1335

In [83]:
nyc_geo.zipcode.nunique()

212

In [86]:
nyc_geo[['zipcode', 'ct2010']].head()

   zipcode   ct2010
0  11361.0  1099.00
1  11361.0  1097.00
2  10314.0   277.02
3  11210.0   546.00
4  11210.0   546.00

In [87]:
zip_ct10 = nyc_geo[['borough','ct2010', 'zipcode']]

In [88]:
zip_ct10.head()

  borough   ct2010  zipcode
0      QN  1099.00  11361.0
1      QN  1097.00  11361.0
2      SI   277.02  10314.0
3      BK   546.00  11210.0
4      BK   546.00  11210.0

In [22]:
zip_ct10.ct2010 = zip_ct10.ct2010.map(lambda x: str(x))
zip_ct10['match_id'] = zip_ct10['borough'] + zip_ct10['ct2010']
zip_ct10.tail()

/Users/gracejeong/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/Users/gracejeong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       borough ct2010  zipcode match_id
858971      BK  196.0  11219.0  BK196.0
858972      QN  478.0  11423.0  QN478.0
858973      BK  118.0  11220.0  BK118.0
858974      BK  208.0  11219.0  BK208.0
858975      BK  206.0  11228.0  BK206.0

In [24]:
zip_ct10.loc[(zip_ct10.borough =='BK') & (zip_ct10['ct2010'] == 1058.01)]

Empty DataFrame
Columns: [borough, ct2010, zipcode, match_id]
Index: []

In [25]:
equivalency = pd.read_csv('2010_Census_Tract_to_Neighborhood_Tabulation_Area_Equivalency_table.csv')
equivalency.Borough.replace('Bronx', 'BX', inplace = True)
equivalency.Borough.replace('Queens', 'QN', inplace = True)
equivalency.Borough.replace('Brooklyn', 'BK', inplace = True)
equivalency.Borough.replace('Manhattan', 'MN', inplace = True)
equivalency.Borough.replace('Staten Island', 'SI', inplace = True)

In [26]:
equivalency['2010 Census Tract'] = equivalency['2010 Census Tract'].map(lambda x: str(x)[:-2]+'.'+str(x)[-1:])
equivalency['match_id'] = equivalency['Borough'] + equivalency['2010 Census Tract']
equivalency.head()

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name,match_id
0,BX,5,2,310.0,3704,BX31,Allerton-Pelham Gardens,BX310.0
1,BX,5,2,312.0,3704,BX31,Allerton-Pelham Gardens,BX312.0
2,BX,5,2,314.0,3704,BX31,Allerton-Pelham Gardens,BX314.0
3,BX,5,2,316.0,3704,BX31,Allerton-Pelham Gardens,BX316.0
4,BX,5,2,318.0,3704,BX31,Allerton-Pelham Gardens,BX318.0

Merge zipcode & NTA codes

In [27]:
df_key = zip_ct10.merge(equivalency, how = 'left', on ='match_id')

In [28]:
df_key.shape

(858976, 11)

In [29]:
df_key.rename(index=str, columns={"Neighborhood Tabulation Area (NTA)Code": "NTA_code", 
                                            "Neighborhood Tabulation Area (NTA) Name": "NTA_name"}, inplace = True)

In [30]:
df_key.NTA_code.nunique()

189

In [31]:
df_key.drop_duplicates('NTA_code', inplace=True)

In [32]:
df_key.shape

(190, 11)

In [33]:
sub_ntas = df_key.NTA_code.unique()

In [34]:
missing_ntas = []
for code in all_nta_codes:
    if code not in sub_ntas:
        missing_ntas.append(code)
print(missing_ntas)
missing_ntas_dict = [{'nta_code': 'BK93', 'ct2010': '1058.1'},
                     {'nta_code': 'QN15', 'ct2010': '998.1'},
                     {'nta_code': 'QN44', 'ct2010': '1551.1'},
                     {'nta_code': 'SI32', 'ct2010': '208.1'},
                     {'nta_code': 'SI48', 'ct2010': '170.7'},
                     {'nta_code': 'SI54', 'ct2010': '132.3'}]
missing_ntas_dict

['BK93', 'QN15', 'QN44', 'SI32', 'SI48', 'SI54']

[{'nta_code': 'BK93', 'ct2010': '1058.1'},
 {'nta_code': 'QN15', 'ct2010': '998.1'},
 {'nta_code': 'QN44', 'ct2010': '1551.1'},
 {'nta_code': 'SI32', 'ct2010': '208.1'},
 {'nta_code': 'SI48', 'ct2010': '170.7'},
 {'nta_code': 'SI54', 'ct2010': '132.3'}]

In [35]:
missing_ntas_zipcode = {}
equivalency.loc[equivalency['Neighborhood Tabulation Area (NTA)Code'] == 'SI54']

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name,match_id
2076,SI,85,5,132.3,3901,SI54,Great Kills,SI132.3
2077,SI,85,5,146.4,3901,SI54,Great Kills,SI146.4
2078,SI,85,5,146.5,3901,SI54,Great Kills,SI146.5
2079,SI,85,5,146.6,3901,SI54,Great Kills,SI146.6
2080,SI,85,5,146.7,3901,SI54,Great Kills,SI146.7
2081,SI,85,5,146.8,3901,SI54,Great Kills,SI146.8
2082,SI,85,5,156.1,3901,SI54,Great Kills,SI156.1
2083,SI,85,5,156.3,3901,SI54,Great Kills,SI156.3

In [36]:
df_key.head()

,borough,ct2010,zipcode,match_id,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,NTA_code,NTA_name
0,QN,1099.0,11361.0,QN1099.0,QN,81.0,4.0,1099.0,4104.0,QN46,Bayside-Bayside Hills
2,SI,277.02,10314.0,SI277.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BK,546.0,11210.0,BK546.0,BK,47.0,3.0,546.0,4015.0,BK43,Midwood
5,BK,552.0,11229.0,BK552.0,BK,47.0,3.0,552.0,4016.0,BK44,Madison
6,QN,595.0,NaN,QN595.0,QN,81.0,4.0,595.0,4110.0,QN20,Ridgewood

In [37]:
df_key.drop('Borough', axis=1,inplace=True)

In [38]:
df_key.columns

Index(['borough', 'ct2010', 'zipcode', 'match_id',
       '2010 Census Bureau FIPS County Code', '2010 NYC Borough Code',
       '2010 Census Tract', 'PUMA', 'NTA_code', 'NTA_name'],
      dtype='object')

In [39]:
df_key = df_key[['borough', 'ct2010', 'zipcode', 'NTA_code', 'NTA_name',
                 'match_id','2010 Census Bureau FIPS County Code', '2010 NYC Borough Code',
                 '2010 Census Tract', 'PUMA']]
df_key.head()

,borough,ct2010,zipcode,NTA_code,NTA_name,match_id,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA
0,QN,1099.0,11361.0,QN46,Bayside-Bayside Hills,QN1099.0,81.0,4.0,1099.0,4104.0
2,SI,277.02,10314.0,NaN,NaN,SI277.02,NaN,NaN,NaN,NaN
3,BK,546.0,11210.0,BK43,Midwood,BK546.0,47.0,3.0,546.0,4015.0
5,BK,552.0,11229.0,BK44,Madison,BK552.0,47.0,3.0,552.0,4016.0
6,QN,595.0,NaN,QN20,Ridgewood,QN595.0,81.0,4.0,595.0,4110.0

In [49]:
print(df_key[df_key.borough == 'QN'].NTA_code.unique())
print(df_key[df_key.borough == 'BK'].NTA_code.nunique())

['QN46' 'QN20' 'QN51' 'QN06' 'QN34' 'QN48' 'QN53' 'QN26' 'QN22' 'QN29'
 'QN31' 'QN56' 'QN55' 'QN41' 'QN19' 'QN33' 'QN76' 'QN08' 'QN05' 'QN03'
 'QN57' 'QN12' 'QN70' 'QN72' 'QN63' 'QN28' 'QN27' 'QN25' 'QN17' 'QN30'
 'QN50' 'QN21' 'QN52' 'QN61' 'QN49' 'QN23' 'QN66' 'QN18' 'QN38' 'QN45'
 'QN60' 'QN54' 'QN01' 'QN71' 'QN37' 'QN10' 'QN43' 'QN07' 'QN62' 'QN68'
 'QN42' 'QN02' 'QN47' 'QN35' 'QN98' 'QN99']
50