In [2]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv("master_report_streeteasy/rentals/All/rentalInventory_All.csv")

In [12]:
df.head()

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10
0,All Downtown,Manhattan,submarket,4240,4490,4564,4668,4479,4574,4255,...,5845,5538,6029,6742,7474,7761,8152,7682,6110,5877
1,All Midtown,Manhattan,submarket,3118,3269,3289,3452,3161,3148,3066,...,4178,4061,4351,4563,5007,4980,5077,5028,4390,4725
2,All Upper East Side,Manhattan,submarket,2553,2655,2644,2592,2502,2673,2585,...,2764,2694,2873,3044,3327,3507,3528,3437,2946,3006
3,All Upper Manhattan,Manhattan,submarket,846,843,813,738,707,770,754,...,2200,2232,2447,2615,2930,3101,3415,3374,2949,3268
4,All Upper West Side,Manhattan,submarket,2165,2188,2308,2454,2328,2414,2220,...,2542,2425,2552,2758,2955,3073,3157,3178,2666,2636

In [30]:
dfsum = (df[df.Borough == "Manhattan"].sum())
dfsum[3:].sum()

5541697

In [5]:
df_man_multi_counts = df[df.Borough == 'Manhattan'].set_index(["Borough", "areaName"]).sort_index()

In [6]:
df_man_multi_counts

                                   areaType  2010-01  2010-02  2010-03  \
Borough   areaName
Manhattan All Downtown            submarket     4240     4490     4564
          All Midtown             submarket     3118     3269     3289
          All Upper East Side     submarket     2553     2655     2644
          All Upper Manhattan     submarket      846      843      813
          All Upper West Side     submarket     2165     2188     2308
          Battery Park City    neighborhood      213      207      206
          Central Harlem       neighborhood      413      388      333
          Central Park South   neighborhood      117      105      113
          Chelsea              neighborhood      605      658      678
          Chinatown            neighborhood       19       17       16
          Civic Center         neighborhood        0        0        0
          East Harlem          neighborhood      131      122      134
          East Village         neighborhood      457      486      537
          Financial District   neighborhood      644      669      626
          Flatiron             neighborhood      259      247      256
          Gramercy Park        neighborhood      239      250      271
          Greenwich Village    neighborhood      401      428      461
          Hamilton Heights     neighborhood       91      100       90
          Inwood               neighborhood       17       19       25
          Little Italy         neighborhood       75       84       81
          Lower East Side      neighborhood      233      294      285
          Manhattan                 borough    12952    13484    13664
          Manhattanville       neighborhood        0        0        7
          Marble Hill          neighborhood        0        0        0
          Midtown              neighborhood      508      472      424
          Midtown East         neighborhood     1519     1651     1710
          Midtown South        neighborhood      200      215      225
          Midtown West         neighborhood      774      826      817
          Morningside Heights  neighborhood       47       56       67
          Nolita               neighborhood       90      114      121
          Roosevelt Island     neighborhood       30       39       46
          Soho                 neighborhood      250      232      235
          Stuyvesant Town/PCV  neighborhood        4        4        5
          Tribeca              neighborhood      237      240      262
          Upper East Side      neighborhood     2553     2655     2644
          Upper West Side      neighborhood     2165     2188     2308
          Washington Heights   neighborhood      137      149      148
          West Harlem          neighborhood       10        9        9
          West Village         neighborhood      514      560      524

                               2010-04  2010-05  2010-06  2010-07  2010-08  \
Borough   areaName
Manhattan All Downtown            4668     4479     4574     4255     4037
          All Midtown             3452     3161     3148     3066     2939
          All Upper East Side     2592     2502     2673     2585     2560
          All Upper Manhattan      738      707      770      754      701
          All Upper West Side     2454     2328     2414     2220     1925
          Battery Park City        189      184      200      186      212
          Central Harlem           300      272      312      287      289
          Central Park South        99       91      105       98       90
          Chelsea                  666      599      607      624      570
          Chinatown                 16       23       26       30       27
          Civic Center               0        1        1        1        1
          East Harlem              117      128      144      164      162
          East Village             539      562      566      499      422
          Financial District       602      530      534      533      531
          Flatiron                 253      254      254      224      243
          Gramercy Park            279      256      262      239      213
          Greenwich Village        515      549      558      486      459
          Hamilton Heights          87      102       92       85       86
          Inwood                    27       24       31       28       19
          Little Italy              73       64       64       57       55
          Lower East Side          276      248      262      232      224
          Manhattan              13946    13208    13618    12941    12214
          Manhattanville             6        1        5        6        2
          Marble Hill                1        1        0        0        0
          Midtown                  450      411      375      368      401
          Midtown East            1773     1607     1557     1468     1513
          Midtown South            234      225      215      221      220
          Midtown West             896      827      896      911      715
          Morningside Heights       65       43       44       50       35
          Nolita                   132      108      124      133      107
          Roosevelt Island          42       31       39       61       52
          Soho                     255      234      274      253      229
          Stuyvesant Town/PCV        5        9       12        9        3
          Tribeca                  284      286      258      238      237
          Upper East Side         2592     2502     2673     2585     2560
          Upper West Side         2454     2328     2414     2220     1925
          Washington Heights       127      126      136      126       99
          West Harlem                8       10        6        8        9
          West Village             584      572      572      511      504

                               2010-09   ...     2018-01  2018-02  2018-03  \
Borough   areaName                       ...
Manhattan All Downtown            3430   ...        5845     5538     6029
          All Midtown             2608   ...        4178     4061     4351
          All Upper East Side     2342   ...        2764     2694     2873
          All Upper Manhattan      606   ...        2200     2232     2447
          All Upper West Side     1699   ...        2542     2425     2552
          Battery Park City        196   ...         207      196      211
          Central Harlem           255   ...         629      656      705
          Central Park South        77   ...          79       76       85
          Chelsea                  494   ...         882      805      863
          Chinatown                 38   ...          65       70       75
          Civic Center               1   ...           1        0        0
          East Harlem              130   ...         384      396      426
          East Village             343   ...         878      842      976
          Financial District       533   ...         816      714      702
          Flatiron                 231   ...         389      361      401
          Gramercy Park            203   ...         318      311      344
          Greenwich Village        309   ...         434      410      423
          Hamilton Heights          80   ...         254      243      272
          Inwood                    23   ...         139      149      145
          Little Italy              39   ...          51       50       53
          Lower East Side          164   ...         404      403      532
          Manhattan              10740   ...       17589    17016    18329
          Manhattanville             1   ...           6       15       15
          Marble Hill                0   ...           7       12       10
          Midtown                  389   ...         490      415      460
          Midtown East            1304   ...        1885     1875     2008
          Midtown South            198   ...         264      262      329
          Midtown West             640   ...        1460     1433     1469
          Morningside Heights       27   ...         117      101      110
          Nolita                    80   ...         161      167      166
          Roosevelt Island          55   ...          57       62       71
          Soho                     212   ...         245      239      262
          Stuyvesant Town/PCV        1   ...          77       56      120
          Tribeca                  230   ...         332      327      326
          Upper East Side         2342   ...        2764     2694     2873
          Upper West Side         1699   ...        2542     2425     2552
          Washington Heights        84   ...         600      599      697
          West Harlem                6   ...          64       61       67
          West Village             356   ...         585      587      575

                               2018-04  2018-05  2018-06  2018-07  2018-08  \
Borough   areaName
Manhattan All Downtown            6742     7474     7761     8152     7682
          All Midtown             4563     5007     4980     5077     5028
          All Upper East Side     3044     3327     3507     3528     3437
          All Upper Manhattan     2615     2930     3101     3415     3374
          All Upper West Side     2758     2955     3073     3157     3178
          Battery Park City        206      209      219      235      241
          Central Harlem           767      895     1000     1011      977
          Central Park South        77       86       93       74       81
          Chelsea                  906      984     1024     1029      989
          Chinatown                 87       82       63       79       75
          Civic Center               1        6        0        0        0
          East Harlem              447      496      488      535      567
          East Village            1207     1502     1670     1832     1674
          Financial District       757      782      804      807      786
          Flatiron                 420      442      488      454      416
          Gramercy Park            400      462      484      511      455
          Greenwich Village        484      498      513      572      478
          Hamilton Heights         315      319      356      431      387
          Inwood                   168      188      166      186      187
          Little Italy              57       92       89      113      126
          Lower East Side          631      660      683      747      724
          Manhattan              19803    21791    22523    23424    22781
          Manhattanville            11       26       23       31       35
          Marble Hill               13       10        8       13       16
          Midtown                  480      505      512      500      539
          Midtown East            2131     2439     2337     2448     2367
          Midtown South            313      333      336      379      326
          Midtown West            1562     1644     1702     1676     1715
          Morningside Heights      115      144      190      200      180
          Nolita                   154      175      206      223      195
          Roosevelt Island          75       93       95       89       79
          Soho                     286      341      317      313      319
          Stuyvesant Town/PCV      119       82       46       67       88
          Tribeca                  333      369      352      346      350
          Upper East Side         3044     3327     3507     3528     3437
          Upper West Side         2758     2955     3073     3157     3178
          Washington Heights       705      777      808      917      941
          West Harlem               74       75       62       91       84
          West Village             694      788      803      824      766

                               2018-09  2018-10
Borough   areaName
Manhattan All Downtown            6110     5877
          All Midtown             4390     4725
          All Upper East Side     2946     3006
          All Upper Manhattan     2949     3268
          All Upper West Side     2666     2636
          Battery Park City        218      213
          Central Harlem           864      929
          Central Park South        73       78
          Chelsea                  816      804
          Chinatown                 71       70
          Civic Center               0        0
          East Harlem              490      548
          East Village            1203     1094
          Financial District       694      707
          Flatiron                 331      355
          Gramercy Park            376      355
          Greenwich Village        382      405
          Hamilton Heights         332      397
          Inwood                   205      221
          Little Italy              87       72
          Lower East Side          542      483
          Manhattan              19153    19604
          Manhattanville            52       49
          Marble Hill               15       13
          Midtown                  500      512
          Midtown East            2111     2192
          Midtown South            260      303
          Midtown West            1446     1640
          Morningside Heights      114      134
          Nolita                   162      151
          Roosevelt Island          87       89
          Soho                     270      239
          Stuyvesant Town/PCV      100      101
          Tribeca                  302      296
          Upper East Side         2946     3006
          Upper West Side         2666     2636
          Washington Heights       808      896
          West Harlem               69       81
          West Village             556      532

[39 rows x 107 columns]

In [7]:
df_man_multi_counts.describe()

,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,...,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10
count,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,...,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000
mean,995.538462,1036.230769,1049.897436,1071.692308,1015.205128,1046.538462,993.897436,938.205128,824.743590,810.410256,...,1351.384615,1307.128205,1407.794872,1521.076923,1673.589744,1729.794872,1799.256410,1750.205128,1470.820513,1505.564103
std,2207.252053,2300.227843,2332.242910,2383.626319,2258.000049,2326.591655,2208.330720,2087.051851,1835.597618,1803.289563,...,2961.302040,2861.725089,3081.311445,3332.936657,3668.773908,3791.337302,3941.078724,3827.942756,3211.357402,3280.721405
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,1.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,82.500000,92.000000,85.500000,80.000000,77.500000,78.000000,73.000000,70.500000,66.000000,53.000000,...,128.000000,125.000000,132.500000,136.500000,159.500000,178.000000,193.000000,183.500000,138.000000,142.500000
50%,239.000000,247.000000,262.000000,276.000000,254.000000,262.000000,238.000000,229.000000,212.000000,188.000000,...,389.000000,396.000000,423.000000,447.000000,496.000000,488.000000,511.000000,478.000000,382.000000,405.000000
75%,709.000000,747.500000,745.500000,702.000000,653.000000,688.500000,689.000000,635.500000,569.500000,589.000000,...,1171.000000,1137.500000,1222.500000,1384.500000,1573.000000,1686.000000,1754.000000,1694.500000,1324.500000,1367.000000
max,12952.000000,13484.000000,13664.000000,13946.000000,13208.000000,13618.000000,12941.000000,12214.000000,10740.000000,10550.000000,...,17589.000000,17016.000000,18329.000000,19803.000000,21791.000000,22523.000000,23424.000000,22781.000000,19153.000000,19604.000000