In [122]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf
import scipy.stats as stats
from geopy.geocoders import Nominatim
import time

In [224]:
geolocator = Nominatim(user_agent="grace")
location = geolocator.reverse("40.84916900104506, -73.86835600032798")
print(location.address)

Bronx Park East, Birchall Avenue, Bronxdale, The Bronx, Bronx County, NYC, New York, 10462, USA

In [169]:
import uszipcode
from uszipcode import Zipcode
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=False)

In [234]:
def coord_to_zip(lat, long, radius=3, returns=1):
    result = search.by_coordinates(float(lat), float(long), radius=radius, returns=returns)
    try:
        return result[0].zipcode
    except:
        return "No zipcode found"

In [164]:
def address_from_coord(lat, long):
    start = time.time()
    geolocator = Nominatim(user_agent="jdmitchell")
    location = geolocator.reverse(f'{lat}, {long}')
    if time.time()-start<1:
        time.sleep(1.01-(time.time()-start))
    return location.address

In [165]:
def zipcode_from_coord(lat, long):
    return address_from_coord(lat, long).split(", ")[-2]

In [237]:
address_from_coord(40.84916900104506, -73.86835600032798)

'Bronx Park East, Birchall Avenue, Bronxdale, The Bronx, Bronx County, NYC, New York, 10462, USA'

In [137]:
zipcode_from_coord(40.84916900104506, -73.86835600032798)

'10462'

In [13]:
df_subway = pd.read_csv("subway_entrances.csv")

In [82]:
df_subway['latlong']=df_subway['the_geom'].str[7:-1]

In [83]:
df_subway[df_subway.latlong == '-73.86835600032798 40.84916900104506']

,OBJECTID,URL,NAME,the_geom,LINE,latlong,lat,long
0,1734,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NW corner,POINT (-73.86835600032798 40.84916900104506),2-5,-73.86835600032798 40.84916900104506,40.84916900104506,-73.86835600032798

In [115]:
df_exerpt_subway = df_subway[:10]

In [121]:
df_exerpt_subway

,OBJECTID,URL,NAME,the_geom,LINE,latlong,lat,long,zipcode
0,1734,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NW corner,POINT (-73.86835600032798 40.84916900104506),2-5,"[-73.86835600032798, 40.84916900104506]",40.84916900104506,-73.86835600032798,10462
1,1735,http://web.mta.info/nyct/service/,Birchall Ave & Sagamore St at NE corner,POINT (-73.86821300022677 40.84912800131844),2-5,"[-73.86821300022677, 40.84912800131844]",40.84912800131844,-73.86821300022677,10462
2,1736,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,POINT (-73.87349900050798 40.84122300105249),2-5,"[-73.87349900050798, 40.84122300105249]",40.84122300105249,-73.87349900050798,10460
3,1737,http://web.mta.info/nyct/service/,Morris Park Ave & 180th St at NW corner,POINT (-73.8728919997833 40.84145300067447),2-5,"[-73.8728919997833, 40.84145300067447]",40.84145300067447,-73.8728919997833,10460
4,1738,http://web.mta.info/nyct/service/,Boston Rd & 178th St at SW corner,POINT (-73.87962300013866 40.84081500075867),2-5,"[-73.87962300013866, 40.84081500075867]",40.84081500075867,-73.87962300013866,10460
5,1739,http://web.mta.info/nyct/service/,Boston Rd & E Tremont Ave at NW corner,POINT (-73.88000500027815 40.840434000875874),2-5,"[-73.88000500027815, 40.840434000875874]",40.840434000875874,-73.88000500027815,10460
6,1740,http://web.mta.info/nyct/service/,Boston Rd & E Tremont Ave at NE corner,POINT (-73.87983300021861 40.84035400111976),2-5,"[-73.87983300021861, 40.84035400111976]",40.84035400111976,-73.87983300021861,10460
7,1741,http://web.mta.info/nyct/service/,Boston Rd & 178th St at SE corner,POINT (-73.8795549998336 40.84063900116436),2-5,"[-73.8795549998336, 40.84063900116436]",40.84063900116436,-73.8795549998336,10460
8,1742,http://web.mta.info/nyct/service/,Boston Rd & 178th St at NW corner,POINT (-73.87939700013239 40.84107800066419),2-5,"[-73.87939700013239, 40.84107800066419]",40.84107800066419,-73.87939700013239,10460
9,1743,http://web.mta.info/nyct/service/,Boston Rd & 174th St at SW corner,POINT (-73.88804799985908 40.83732500129732),2-5,"[-73.88804799985908, 40.83732500129732]",40.83732500129732,-73.88804799985908,10460

In [119]:
df_exerpt_subway['zipcode'] = df_exerpt_subway.latlong.apply(lambda x: zipcode_from_coord(x[1], x[0]))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [85]:
df_subway['latlong'] = df_subway.latlong.str.split(' ')

In [86]:
df_subway['lat'] = df_subway['latlong'].apply(lambda x: x[1])

In [87]:
df_subway['long'] = df_subway['latlong'].apply(lambda x: x[0])

In [222]:
df_subway['zipcode'] = df_subway.latlong.apply(lambda x: coord_to_zip(x[1], x[0]))
#df_subway['zipcode'] = df_subway.iloc[1:10].latlong.apply(lambda x: coord_to_zip(x[1], x[0]))
#make sure it's not deleting everything besides the section currently being updated

In [230]:
df_subway.zipcode.nunique()

136

In [236]:
coord_to_zip(40.81958300055107,-73.90195799960925)

'10455'

In [247]:
df_test=df_subway.groupby('zipcode').count()

In [259]:
df_test.reset_index()

    zipcode  OBJECTID  URL  NAME  the_geom  LINE  latlong  lat  long
0     10001        51   51    50        51    51       51   51    51
1     10002        19   19    19        19    19       19   19    19
2     10003        28   28    28        28    28       28   28    28
3     10004         6    6     0         6     6        6    6     6
4     10006        30   30    25        30    30       30   30    30
5     10007        26   26    26        26    26       26   26    26
6     10009         4    4     4         4     4        4    4     4
7     10011        72   72    72        72    72       72   72    72
8     10012        34   34    31        34    34       34   34    34
9     10013        14   14    14        14    14       14   14    14
10    10017         5    5     5         5     5        5    5     5
11    10018        26   26    26        26    26       26   26    26
12    10019        16   16    16        16    16       16   16    16
13    10020        27   27    27        27    27       27   27    27
14    10021        12   12    12        12    12       12   12    12
15    10022         3    3     3         3     3        3    3     3
16    10023        16   16    16        16    16       16   16    16
17    10025         9    9     9         9     9        9    9     9
18    10026        16   16    16        16    16       16   16    16
19    10027        10   10    10        10    10       10   10    10
20    10028        16   16    16        16    16       16   16    16
21    10029        10   10    10        10    10       10   10    10
22    10030        17   17    17        17    17       17   17    17
23    10031         6    6     6         6     6        6    6     6
24    10032        23   23    22        23    23       23   23    23
25    10034        24   24    24        24    24       24   24    24
26    10035         8    8     8         8     8        8    8     8
27    10037         9    9     9         9     9        9    9     9
28    10038         5    5     5         5     5        5    5     5
29    10039        12   12    12        12    12       12   12    12
..      ...       ...  ...   ...       ...   ...      ...  ...   ...
106   11231        12   12    12        12    12       12   12    12
107   11233        19   19    19        19    19       19   19    19
108   11235        16   16    15        16    16       16   16    16
109   11236         5    5     5         5     5        5    5     5
110   11237        31   31    31        31    31       31   31    31
111   11238        29   29    29        29    29       29   29    29
112   11355        10   10    10        10    10       10   10    10
113   11368        11   11    11        11    11       11   11    11
114   11372        19   19    19        19    19       19   19    19
115   11373        14   14    14        14    14       14   14    14
116   11374         7    7     7         7     7        7    7     7
117   11375        11   11    11        11    11       11   11    11
118   11377        13   13    13        13    13       13   13    13
119   11379         1    1     1         1     1        1    1     1
120   11385         2    2     2         2     2        2    2     2
121   11415        12   12    12        12    12       12   12    12
122   11416        10   10    10        10    10       10   10    10
123   11417         6    6     5         6     6        6    6     6
124   11418         6    6     6         6     6        6    6     6
125   11419         4    4     4         4     4        4    4     4
126   11420         4    4     4         4     4        4    4     4
127   11421        13   13    13        13    13       13   13    13
128   11430         4    4     4         4     4        4    4     4
129   11432        22   22    22        22    22       22   22    22
130   11433         6    6     6         6     6        6    6     6
131   11435        24   24    24        24    24       24   24    24
132   11691        12   12    12        12    12       12   12    12
133   11692        15   15    15        15    15       15   15    15
134   11693         1    1     1         1     1        1    1     1
135   11694         5    5     5         5     5        5    5     5

[136 rows x 9 columns]

In [244]:
df_subway[df_subway.zipcode == '10001'].shape

(51, 9)

In [307]:
df_subway_count = df_test.reset_index()[['zipcode', 'OBJECTID']]

In [308]:
df_subway_count.rename(columns={'OBJECTID':'num_subway_entrances'},inplace=True)

In [309]:
df_subway_count.num_subway_entrances.unique()

array([51, 19, 28,  6, 30, 26,  4, 72, 34, 14,  5, 16, 27, 12,  3,  9, 10,
       17, 23, 24,  8, 18,  1,  7, 11, 33, 20, 21, 15, 44, 13, 41, 31, 29,
        2, 22])

In [310]:
bins = [-1,0, 6, 72]

In [311]:
bins_sub = pd.cut(df_subway_count.num_subway_entrances, bins)

In [312]:
df_subway_count['subway_bracket'] = bins_sub

In [315]:
df_subway_count.dtypes

zipcode                    int64
num_subway_entrances       int64
subway_bracket          category
dtype: object

In [314]:
df_subway_count.zipcode = df_subway_count.zipcode.astype(int)

In [291]:
df_subway_count[df_subway_count.num_subway_entrances == 1]

    zipcode  num_subway_entrances subway_bracket
34    10111                     1         (0, 6]
42    10171                     1         (0, 6]
119   11379                     1         (0, 6]
134   11693                     1         (0, 6]

In [272]:
df_subway_count.num_subway_entrances.describe()

count    136.000000
mean      14.176471
std       10.651296
min        1.000000
25%        6.000000
50%       12.000000
75%       19.000000
max       72.000000
Name: num_subway_entrances, dtype: float64

In [342]:
df_master2 = pd.read_csv("df_master2.csv")

In [343]:
df_master2 = df_master2.merge(df_subway_count, how='left', on='zipcode')

In [327]:
df_master2.head()

,Unnamed: 0,zipcode,median_income,mean_income,population,City_zill,State_zill,Metro_zill,CountyName_zill,SizeRank_zill,...,2018-08_zill,2018-09_zill,2018-10_zill,2018-11_zill,2018-12_zill,2019-01_zill,restaurant_count,recycling_bin_count,num_subway_entrances,subway_bracket
0,0,10001,71244.6100,123112.7764,17678,New York,NY,New York-Newark-Jersey City,New York County,1297.0,...,3370.0,3348.0,3400.0,3370.0,3348.0,3400.0,488.0,1.0,51.0,"(6, 72]"
1,1,10002,30843.9574,46258.6118,70878,New York,NY,New York-Newark-Jersey City,New York County,9.0,...,3200.0,3199.0,3112.5,3112.5,3125.0,3050.0,509.0,10.0,19.0,"(6, 72]"
2,2,10003,89998.5339,139330.9968,53609,New York,NY,New York-Newark-Jersey City,New York County,45.0,...,3800.0,3800.0,3800.0,3800.0,3800.0,3750.0,682.0,7.0,28.0,"(6, 72]"
3,3,10004,110183.6857,156682.7615,1271,New York,NY,New York-Newark-Jersey City,New York County,3370.0,...,3972.5,3995.0,4110.0,4010.0,3995.0,3876.0,145.0,3.0,6.0,"(0, 6]"
4,4,10005,115133.2855,163762.6601,1517,New York,NY,New York-Newark-Jersey City,New York County,3250.0,...,3995.0,3995.0,3995.0,3910.0,3900.0,3910.0,72.0,3.0,NaN,NaN

In [344]:
df_master2.subway_bracket=df_master2.subway_bracket.cat.add_categories("0").fillna('0')

In [345]:
df_master2

,Unnamed: 0,zipcode,median_income,mean_income,population,City_zill,State_zill,Metro_zill,CountyName_zill,SizeRank_zill,...,2018-08_zill,2018-09_zill,2018-10_zill,2018-11_zill,2018-12_zill,2019-01_zill,restaurant_count,recycling_bin_count,num_subway_entrances,subway_bracket
0,0,10001,71244.6100,123112.7764,17678,New York,NY,New York-Newark-Jersey City,New York County,1297.0,...,3370.0,3348.0,3400.0,3370.0,3348.0,3400.0,488.0,1.0,51.0,"(6, 72]"
1,1,10002,30843.9574,46258.6118,70878,New York,NY,New York-Newark-Jersey City,New York County,9.0,...,3200.0,3199.0,3112.5,3112.5,3125.0,3050.0,509.0,10.0,19.0,"(6, 72]"
2,2,10003,89998.5339,139330.9968,53609,New York,NY,New York-Newark-Jersey City,New York County,45.0,...,3800.0,3800.0,3800.0,3800.0,3800.0,3750.0,682.0,7.0,28.0,"(6, 72]"
3,3,10004,110183.6857,156682.7615,1271,New York,NY,New York-Newark-Jersey City,New York County,3370.0,...,3972.5,3995.0,4110.0,4010.0,3995.0,3876.0,145.0,3.0,6.0,"(0, 6]"
4,4,10005,115133.2855,163762.6601,1517,New York,NY,New York-Newark-Jersey City,New York County,3250.0,...,3995.0,3995.0,3995.0,3910.0,3900.0,3910.0,72.0,3.0,NaN,0
5,5,10006,111220.0000,156776.0000,972,New York,NY,New York-Newark-Jersey City,New York County,3363.0,...,3500.0,3672.5,3550.0,3600.0,3700.0,3700.0,45.0,2.0,30.0,"(6, 72]"
6,6,10007,145458.7823,256235.5719,3520,New York,NY,New York-Newark-Jersey City,New York County,3354.0,...,5100.0,5342.0,5695.0,5795.0,5845.0,6325.0,141.0,9.0,26.0,"(6, 72]"
7,7,10009,56615.2777,78138.2679,56975,New York,NY,New York-Newark-Jersey City,New York County,22.0,...,3400.0,3495.0,3447.5,3320.0,3315.0,3350.0,311.0,13.0,4.0,"(0, 6]"
8,8,10010,93702.0061,137105.7060,27322,New York,NY,New York-Newark-Jersey City,New York County,749.0,...,3500.0,3500.0,3495.0,3497.5,3450.0,3500.0,259.0,0.0,NaN,0
9,9,10011,92359.4888,160936.5432,45899,New York,NY,New York-Newark-Jersey City,New York County,24.0,...,3750.0,3800.0,3800.0,3750.0,3688.5,3695.0,455.0,1.0,72.0,"(6, 72]"
10,10,10012,81316.7066,135998.6472,26464,New York,NY,New York-Newark-Jersey City,New York County,1800.0,...,3400.0,3400.0,3470.0,3492.5,3375.0,3350.0,429.0,8.0,34.0,"(6, 72]"
11,11,10013,69836.0955,137738.4104,24723,New York,NY,New York-Newark-Jersey City,New York County,1565.0,...,5595.0,5500.0,5400.0,5395.0,5197.5,5195.0,497.0,1.0,14.0,"(6, 72]"
12,12,10013,69836.0955,137738.4104,24723,New York,NY,New York-Newark-Jersey City,New York County,1565.0,...,5595.0,5500.0,5400.0,5395.0,5197.5,5195.0,497.0,9.0,14.0,"(6, 72]"
13,13,10014,98449.9155,162205.4910,32867,New York,NY,New York-Newark-Jersey City,New York County,478.0,...,3600.0,3497.5,3500.0,3700.0,3595.0,3700.0,424.0,14.0,NaN,0
14,14,10016,96760.4462,144872.3901,49904,New York,NY,New York-Newark-Jersey City,New York County,13.0,...,3500.0,3475.0,3437.5,3405.0,3400.0,3400.0,441.0,2.0,NaN,0
15,15,10017,102523.5025,149723.7834,16231,New York,NY,New York-Newark-Jersey City,New York County,2371.0,...,3000.0,3125.0,3100.0,3000.0,3000.0,3000.0,358.0,2.0,5.0,"(0, 6]"
16,16,10018,84799.0772,112292.3727,4255,New York,NY,New York-Newark-Jersey City,New York County,3230.0,...,3500.0,3495.0,3499.0,3495.0,3400.0,3495.0,382.0,4.0,26.0,"(6, 72]"
17,17,10019,84786.4665,133175.3716,39048,New York,NY,New York-Newark-Jersey City,New York County,73.0,...,3600.0,3600.0,3599.0,3590.0,3591.0,3595.0,695.0,2.0,16.0,"(6, 72]"
18,18,10020,113846.0000,147680.0000,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,36.0,0.0,27.0,"(6, 72]"
19,19,10021,113800.3846,198530.1081,44173,New York,NY,New York-Newark-Jersey City,New York County,262.0,...,3297.5,3225.0,3397.5,3450.0,3345.0,3295.0,150.0,0.0,12.0,"(6, 72]"
20,20,10022,93106.6559,158965.1780,26460,New York,NY,New York-Newark-Jersey City,New York County,910.0,...,3500.0,3425.0,3450.0,3448.5,3447.0,3252.0,463.0,2.0,3.0,"(0, 6]"
21,21,10023,108285.5918,194365.9259,59002,New York,NY,New York-Newark-Jersey City,New York County,3.0,...,3600.0,3650.0,3790.0,3750.0,3698.5,3697.0,197.0,8.0,16.0,"(6, 72]"
22,22,10024,110998.9883,191408.2026,61485,New York,NY,New York-Newark-Jersey City,New York County,62.0,...,3300.0,3395.0,3400.0,3395.0,3325.0,3300.0,196.0,0.0,NaN,0
23,23,10025,65001.2415,112009.4600,96117,New York,NY,New York-Newark-Jersey City,New York County,1.0,...,3395.0,3402.5,3380.0,3400.0,3445.0,3400.0,232.0,1.0,9.0,"(6, 72]"
24,24,10026,31541.8106,50331.7923,25925,New York,NY,New York-Newark-Jersey City,New York County,1423.0,...,2595.0,2650.0,2622.5,2500.0,2500.0,2600.0,88.0,6.0,16.0,"(6, 72]"
25,25,10027,38550.3989,57766.9366,57049,New York,NY,New York-Newark-Jersey City,New York County,198.0,...,2698.0,2600.0,2550.0,2500.0,2538.0,2600.0,169.0,2.0,10.0,"(6, 72]"
26,26,10028,105456.4514,192257.8020,40914,New York,NY,New York-Newark-Jersey City,New York County,162.0,...,2922.0,2900.0,2900.0,2895.0,2895.0,2895.0,198.0,0.0,16.0,"(6, 72]"
27,27,10029,32876.5220,56937.3035,76271,New York,NY,New York-Newark-Jersey City,New York County,21.0,...,3300.0,3200.0,3200.0,3300.0,3400.0,3375.0,208.0,3.0,10.0,"(6, 72]"
28,28,10030,28525.1218,51240.6723,26058,New York,NY,New York-Newark-Jersey City,New York County,2234.0,...,1937.5,1975.0,1879.0,1999.0,1939.0,1800.0,37.0,4.0,17.0,"(6, 72]"
29,29,10031,31526.0287,51413.2034,59450,New York,NY,New York-Newark-Jersey City,New York County,416.0,...,2237.5,2225.0,2250.0,2195.0,2200.0,2000.0,118.0,1.0,6.0,"(0, 6]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,158,11379,61824.3232,76167.0077,33886,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,46.0,4.0,1.0,"(0, 6]"
159,159,11385,47469.8714,57794.7135,95262,New York,NY,New York-Newark-Jersey City,Queens County,137.0,...,2200.0,2175.0,2295.0,2150.0,2200.0,2200.0,292.0,1.0,2.0,"(0, 6]"
160,160,11411,69131.5808,79342.3360,17909,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,0.0,NaN,0
161,161,11412,67395.5987,77263.7438,36433,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,3.0,NaN,0
162,162,11413,77058.1467,84085.1138,39571,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51.0,3.0,NaN,0
163,163,11414,70964.8067,84305.5087,28120,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,55.0,0.0,NaN,0
164,164,11415,55983.3512,70069.1331,19423,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,37.0,1.0,12.0,"(6, 72]"
165,165,11416,46712.5556,58913.8220,21053,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,3.0,10.0,"(6, 72]"
166,166,11417,56102.9338,66183.1157,28748,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,2.0,6.0,"(0, 6]"
167,167,11418,57063.3834,66711.6469,36587,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,90.0,0.0,6.0,"(0, 6]"
168,168,11419,49705.3095,59641.8032,44065,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,90.0,1.0,4.0,"(0, 6]"
169,169,11420,55055.5659,66550.7443,41750,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,89.0,0.0,4.0,"(0, 6]"
170,170,11421,55093.7928,66525.3233,37664,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,3.0,13.0,"(6, 72]"
171,171,11422,68822.9027,76688.5883,26308,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,38.0,0.0,NaN,0
172,172,11423,64756.1233,79561.1140,31575,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,37.0,3.0,NaN,0
173,173,11426,74452.1944,87041.2389,17445,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,33.0,4.0,NaN,0
174,174,11427,57224.3848,67493.9428,21275,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,1.0,NaN,0
175,175,11428,71126.5564,85683.6821,20923,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,0.0,NaN,0
176,176,11429,72714.1372,82272.7741,27816,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,0.0,NaN,0
177,177,11430,50483.3000,54620.4680,197,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,142.0,2.0,4.0,"(0, 6]"
178,178,11432,50291.2065,64694.3772,54915,New York,NY,New York-Newark-Jersey City,Queens County,985.0,...,2200.0,2300.0,2100.0,2250.0,2300.0,2400.0,186.0,1.0,22.0,"(6, 72]"
179,179,11433,41780.0631,54771.0096,28391,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,3.0,6.0,"(0, 6]"
180,180,11434,51640.5104,59039.1065,52603,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81.0,0.0,NaN,0
181,181,11435,44721.7965,52869.8387,47317,New York,NY,New York-Newark-Jersey City,Queens County,1288.0,...,1800.0,1750.0,1900.0,1900.0,1867.5,1950.0,111.0,1.0,24.0,"(6, 72]"
182,182,11436,62297.1561,69595.4619,18291,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,5.0,NaN,0
183,183,11691,35645.3949,51204.3890,54005,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,45.0,2.0,12.0,"(6, 72]"
184,184,11692,42385.4913,53663.5965,15850,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,9.0,15.0,"(6, 72]"
185,185,11693,54873.7130,65333.2250,11120,New York,NY,New York-Newark-Jersey City,Queens County,3316.0,...,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0,36.0,0.0,1.0,"(0, 6]"
186,186,11694,75157.2154,89574.9242,19299,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,39.0,1.0,5.0,"(0, 6]"
187,187,11697,82290.5340,101499.8550,4206,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN,0

In [346]:
df_master2.num_subway_entrances=df_master2.num_subway_entrances.fillna(0)

In [347]:
df_master2

,Unnamed: 0,zipcode,median_income,mean_income,population,City_zill,State_zill,Metro_zill,CountyName_zill,SizeRank_zill,...,2018-08_zill,2018-09_zill,2018-10_zill,2018-11_zill,2018-12_zill,2019-01_zill,restaurant_count,recycling_bin_count,num_subway_entrances,subway_bracket
0,0,10001,71244.6100,123112.7764,17678,New York,NY,New York-Newark-Jersey City,New York County,1297.0,...,3370.0,3348.0,3400.0,3370.0,3348.0,3400.0,488.0,1.0,51.0,"(6, 72]"
1,1,10002,30843.9574,46258.6118,70878,New York,NY,New York-Newark-Jersey City,New York County,9.0,...,3200.0,3199.0,3112.5,3112.5,3125.0,3050.0,509.0,10.0,19.0,"(6, 72]"
2,2,10003,89998.5339,139330.9968,53609,New York,NY,New York-Newark-Jersey City,New York County,45.0,...,3800.0,3800.0,3800.0,3800.0,3800.0,3750.0,682.0,7.0,28.0,"(6, 72]"
3,3,10004,110183.6857,156682.7615,1271,New York,NY,New York-Newark-Jersey City,New York County,3370.0,...,3972.5,3995.0,4110.0,4010.0,3995.0,3876.0,145.0,3.0,6.0,"(0, 6]"
4,4,10005,115133.2855,163762.6601,1517,New York,NY,New York-Newark-Jersey City,New York County,3250.0,...,3995.0,3995.0,3995.0,3910.0,3900.0,3910.0,72.0,3.0,0.0,0
5,5,10006,111220.0000,156776.0000,972,New York,NY,New York-Newark-Jersey City,New York County,3363.0,...,3500.0,3672.5,3550.0,3600.0,3700.0,3700.0,45.0,2.0,30.0,"(6, 72]"
6,6,10007,145458.7823,256235.5719,3520,New York,NY,New York-Newark-Jersey City,New York County,3354.0,...,5100.0,5342.0,5695.0,5795.0,5845.0,6325.0,141.0,9.0,26.0,"(6, 72]"
7,7,10009,56615.2777,78138.2679,56975,New York,NY,New York-Newark-Jersey City,New York County,22.0,...,3400.0,3495.0,3447.5,3320.0,3315.0,3350.0,311.0,13.0,4.0,"(0, 6]"
8,8,10010,93702.0061,137105.7060,27322,New York,NY,New York-Newark-Jersey City,New York County,749.0,...,3500.0,3500.0,3495.0,3497.5,3450.0,3500.0,259.0,0.0,0.0,0
9,9,10011,92359.4888,160936.5432,45899,New York,NY,New York-Newark-Jersey City,New York County,24.0,...,3750.0,3800.0,3800.0,3750.0,3688.5,3695.0,455.0,1.0,72.0,"(6, 72]"
10,10,10012,81316.7066,135998.6472,26464,New York,NY,New York-Newark-Jersey City,New York County,1800.0,...,3400.0,3400.0,3470.0,3492.5,3375.0,3350.0,429.0,8.0,34.0,"(6, 72]"
11,11,10013,69836.0955,137738.4104,24723,New York,NY,New York-Newark-Jersey City,New York County,1565.0,...,5595.0,5500.0,5400.0,5395.0,5197.5,5195.0,497.0,1.0,14.0,"(6, 72]"
12,12,10013,69836.0955,137738.4104,24723,New York,NY,New York-Newark-Jersey City,New York County,1565.0,...,5595.0,5500.0,5400.0,5395.0,5197.5,5195.0,497.0,9.0,14.0,"(6, 72]"
13,13,10014,98449.9155,162205.4910,32867,New York,NY,New York-Newark-Jersey City,New York County,478.0,...,3600.0,3497.5,3500.0,3700.0,3595.0,3700.0,424.0,14.0,0.0,0
14,14,10016,96760.4462,144872.3901,49904,New York,NY,New York-Newark-Jersey City,New York County,13.0,...,3500.0,3475.0,3437.5,3405.0,3400.0,3400.0,441.0,2.0,0.0,0
15,15,10017,102523.5025,149723.7834,16231,New York,NY,New York-Newark-Jersey City,New York County,2371.0,...,3000.0,3125.0,3100.0,3000.0,3000.0,3000.0,358.0,2.0,5.0,"(0, 6]"
16,16,10018,84799.0772,112292.3727,4255,New York,NY,New York-Newark-Jersey City,New York County,3230.0,...,3500.0,3495.0,3499.0,3495.0,3400.0,3495.0,382.0,4.0,26.0,"(6, 72]"
17,17,10019,84786.4665,133175.3716,39048,New York,NY,New York-Newark-Jersey City,New York County,73.0,...,3600.0,3600.0,3599.0,3590.0,3591.0,3595.0,695.0,2.0,16.0,"(6, 72]"
18,18,10020,113846.0000,147680.0000,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,36.0,0.0,27.0,"(6, 72]"
19,19,10021,113800.3846,198530.1081,44173,New York,NY,New York-Newark-Jersey City,New York County,262.0,...,3297.5,3225.0,3397.5,3450.0,3345.0,3295.0,150.0,0.0,12.0,"(6, 72]"
20,20,10022,93106.6559,158965.1780,26460,New York,NY,New York-Newark-Jersey City,New York County,910.0,...,3500.0,3425.0,3450.0,3448.5,3447.0,3252.0,463.0,2.0,3.0,"(0, 6]"
21,21,10023,108285.5918,194365.9259,59002,New York,NY,New York-Newark-Jersey City,New York County,3.0,...,3600.0,3650.0,3790.0,3750.0,3698.5,3697.0,197.0,8.0,16.0,"(6, 72]"
22,22,10024,110998.9883,191408.2026,61485,New York,NY,New York-Newark-Jersey City,New York County,62.0,...,3300.0,3395.0,3400.0,3395.0,3325.0,3300.0,196.0,0.0,0.0,0
23,23,10025,65001.2415,112009.4600,96117,New York,NY,New York-Newark-Jersey City,New York County,1.0,...,3395.0,3402.5,3380.0,3400.0,3445.0,3400.0,232.0,1.0,9.0,"(6, 72]"
24,24,10026,31541.8106,50331.7923,25925,New York,NY,New York-Newark-Jersey City,New York County,1423.0,...,2595.0,2650.0,2622.5,2500.0,2500.0,2600.0,88.0,6.0,16.0,"(6, 72]"
25,25,10027,38550.3989,57766.9366,57049,New York,NY,New York-Newark-Jersey City,New York County,198.0,...,2698.0,2600.0,2550.0,2500.0,2538.0,2600.0,169.0,2.0,10.0,"(6, 72]"
26,26,10028,105456.4514,192257.8020,40914,New York,NY,New York-Newark-Jersey City,New York County,162.0,...,2922.0,2900.0,2900.0,2895.0,2895.0,2895.0,198.0,0.0,16.0,"(6, 72]"
27,27,10029,32876.5220,56937.3035,76271,New York,NY,New York-Newark-Jersey City,New York County,21.0,...,3300.0,3200.0,3200.0,3300.0,3400.0,3375.0,208.0,3.0,10.0,"(6, 72]"
28,28,10030,28525.1218,51240.6723,26058,New York,NY,New York-Newark-Jersey City,New York County,2234.0,...,1937.5,1975.0,1879.0,1999.0,1939.0,1800.0,37.0,4.0,17.0,"(6, 72]"
29,29,10031,31526.0287,51413.2034,59450,New York,NY,New York-Newark-Jersey City,New York County,416.0,...,2237.5,2225.0,2250.0,2195.0,2200.0,2000.0,118.0,1.0,6.0,"(0, 6]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,158,11379,61824.3232,76167.0077,33886,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,46.0,4.0,1.0,"(0, 6]"
159,159,11385,47469.8714,57794.7135,95262,New York,NY,New York-Newark-Jersey City,Queens County,137.0,...,2200.0,2175.0,2295.0,2150.0,2200.0,2200.0,292.0,1.0,2.0,"(0, 6]"
160,160,11411,69131.5808,79342.3360,17909,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,0.0,0.0,0
161,161,11412,67395.5987,77263.7438,36433,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,3.0,0.0,0
162,162,11413,77058.1467,84085.1138,39571,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51.0,3.0,0.0,0
163,163,11414,70964.8067,84305.5087,28120,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,55.0,0.0,0.0,0
164,164,11415,55983.3512,70069.1331,19423,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,37.0,1.0,12.0,"(6, 72]"
165,165,11416,46712.5556,58913.8220,21053,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,3.0,10.0,"(6, 72]"
166,166,11417,56102.9338,66183.1157,28748,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,2.0,6.0,"(0, 6]"
167,167,11418,57063.3834,66711.6469,36587,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,90.0,0.0,6.0,"(0, 6]"
168,168,11419,49705.3095,59641.8032,44065,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,90.0,1.0,4.0,"(0, 6]"
169,169,11420,55055.5659,66550.7443,41750,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,89.0,0.0,4.0,"(0, 6]"
170,170,11421,55093.7928,66525.3233,37664,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,3.0,13.0,"(6, 72]"
171,171,11422,68822.9027,76688.5883,26308,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,38.0,0.0,0.0,0
172,172,11423,64756.1233,79561.1140,31575,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,37.0,3.0,0.0,0
173,173,11426,74452.1944,87041.2389,17445,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,33.0,4.0,0.0,0
174,174,11427,57224.3848,67493.9428,21275,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,1.0,0.0,0
175,175,11428,71126.5564,85683.6821,20923,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,0.0,0.0,0
176,176,11429,72714.1372,82272.7741,27816,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,0.0,0.0,0
177,177,11430,50483.3000,54620.4680,197,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,142.0,2.0,4.0,"(0, 6]"
178,178,11432,50291.2065,64694.3772,54915,New York,NY,New York-Newark-Jersey City,Queens County,985.0,...,2200.0,2300.0,2100.0,2250.0,2300.0,2400.0,186.0,1.0,22.0,"(6, 72]"
179,179,11433,41780.0631,54771.0096,28391,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,3.0,6.0,"(0, 6]"
180,180,11434,51640.5104,59039.1065,52603,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81.0,0.0,0.0,0
181,181,11435,44721.7965,52869.8387,47317,New York,NY,New York-Newark-Jersey City,Queens County,1288.0,...,1800.0,1750.0,1900.0,1900.0,1867.5,1950.0,111.0,1.0,24.0,"(6, 72]"
182,182,11436,62297.1561,69595.4619,18291,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,5.0,0.0,0
183,183,11691,35645.3949,51204.3890,54005,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,45.0,2.0,12.0,"(6, 72]"
184,184,11692,42385.4913,53663.5965,15850,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,9.0,15.0,"(6, 72]"
185,185,11693,54873.7130,65333.2250,11120,New York,NY,New York-Newark-Jersey City,Queens County,3316.0,...,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0,36.0,0.0,1.0,"(0, 6]"
186,186,11694,75157.2154,89574.9242,19299,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,39.0,1.0,5.0,"(0, 6]"
187,187,11697,82290.5340,101499.8550,4206,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,0.0,0

In [348]:
df_master3 = df_master2[['zipcode', 'median_income', 
                         'population', 'CountyName_zill', '2019-01_zill', 'restaurant_count', 
                         'recycling_bin_count', 'num_subway_entrances', 'subway_bracket']]

In [354]:
df_master94=df_master3.dropna()

In [353]:
df_master3

,zipcode,median_income,population,CountyName_zill,2019-01_zill,restaurant_count,recycling_bin_count,num_subway_entrances,subway_bracket
0,10001,71244.6100,17678,New York County,3400.0,488.0,1.0,51.0,"(6, 72]"
1,10002,30843.9574,70878,New York County,3050.0,509.0,10.0,19.0,"(6, 72]"
2,10003,89998.5339,53609,New York County,3750.0,682.0,7.0,28.0,"(6, 72]"
3,10004,110183.6857,1271,New York County,3876.0,145.0,3.0,6.0,"(0, 6]"
4,10005,115133.2855,1517,New York County,3910.0,72.0,3.0,0.0,0
5,10006,111220.0000,972,New York County,3700.0,45.0,2.0,30.0,"(6, 72]"
6,10007,145458.7823,3520,New York County,6325.0,141.0,9.0,26.0,"(6, 72]"
7,10009,56615.2777,56975,New York County,3350.0,311.0,13.0,4.0,"(0, 6]"
8,10010,93702.0061,27322,New York County,3500.0,259.0,0.0,0.0,0
9,10011,92359.4888,45899,New York County,3695.0,455.0,1.0,72.0,"(6, 72]"
10,10012,81316.7066,26464,New York County,3350.0,429.0,8.0,34.0,"(6, 72]"
11,10013,69836.0955,24723,New York County,5195.0,497.0,1.0,14.0,"(6, 72]"
12,10013,69836.0955,24723,New York County,5195.0,497.0,9.0,14.0,"(6, 72]"
13,10014,98449.9155,32867,New York County,3700.0,424.0,14.0,0.0,0
14,10016,96760.4462,49904,New York County,3400.0,441.0,2.0,0.0,0
15,10017,102523.5025,16231,New York County,3000.0,358.0,2.0,5.0,"(0, 6]"
16,10018,84799.0772,4255,New York County,3495.0,382.0,4.0,26.0,"(6, 72]"
17,10019,84786.4665,39048,New York County,3595.0,695.0,2.0,16.0,"(6, 72]"
18,10020,113846.0000,1,NaN,NaN,36.0,0.0,27.0,"(6, 72]"
19,10021,113800.3846,44173,New York County,3295.0,150.0,0.0,12.0,"(6, 72]"
20,10022,93106.6559,26460,New York County,3252.0,463.0,2.0,3.0,"(0, 6]"
21,10023,108285.5918,59002,New York County,3697.0,197.0,8.0,16.0,"(6, 72]"
22,10024,110998.9883,61485,New York County,3300.0,196.0,0.0,0.0,0
23,10025,65001.2415,96117,New York County,3400.0,232.0,1.0,9.0,"(6, 72]"
24,10026,31541.8106,25925,New York County,2600.0,88.0,6.0,16.0,"(6, 72]"
25,10027,38550.3989,57049,New York County,2600.0,169.0,2.0,10.0,"(6, 72]"
26,10028,105456.4514,40914,New York County,2895.0,198.0,0.0,16.0,"(6, 72]"
27,10029,32876.5220,76271,New York County,3375.0,208.0,3.0,10.0,"(6, 72]"
28,10030,28525.1218,26058,New York County,1800.0,37.0,4.0,17.0,"(6, 72]"
29,10031,31526.0287,59450,New York County,2000.0,118.0,1.0,6.0,"(0, 6]"
...,...,...,...,...,...,...,...,...,...
158,11379,61824.3232,33886,NaN,NaN,46.0,4.0,1.0,"(0, 6]"
159,11385,47469.8714,95262,Queens County,2200.0,292.0,1.0,2.0,"(0, 6]"
160,11411,69131.5808,17909,NaN,NaN,23.0,0.0,0.0,0
161,11412,67395.5987,36433,NaN,NaN,48.0,3.0,0.0,0
162,11413,77058.1467,39571,NaN,NaN,51.0,3.0,0.0,0
163,11414,70964.8067,28120,NaN,NaN,55.0,0.0,0.0,0
164,11415,55983.3512,19423,NaN,NaN,37.0,1.0,12.0,"(6, 72]"
165,11416,46712.5556,21053,NaN,NaN,44.0,3.0,10.0,"(6, 72]"
166,11417,56102.9338,28748,NaN,NaN,76.0,2.0,6.0,"(0, 6]"
167,11418,57063.3834,36587,NaN,NaN,90.0,0.0,6.0,"(0, 6]"
168,11419,49705.3095,44065,NaN,NaN,90.0,1.0,4.0,"(0, 6]"
169,11420,55055.5659,41750,NaN,NaN,89.0,0.0,4.0,"(0, 6]"
170,11421,55093.7928,37664,NaN,NaN,76.0,3.0,13.0,"(6, 72]"
171,11422,68822.9027,26308,NaN,NaN,38.0,0.0,0.0,0
172,11423,64756.1233,31575,NaN,NaN,37.0,3.0,0.0,0
173,11426,74452.1944,17445,NaN,NaN,33.0,4.0,0.0,0
174,11427,57224.3848,21275,NaN,NaN,18.0,1.0,0.0,0
175,11428,71126.5564,20923,NaN,NaN,44.0,0.0,0.0,0
176,11429,72714.1372,27816,NaN,NaN,23.0,0.0,0.0,0
177,11430,50483.3000,197,NaN,NaN,142.0,2.0,4.0,"(0, 6]"
178,11432,50291.2065,54915,Queens County,2400.0,186.0,1.0,22.0,"(6, 72]"
179,11433,41780.0631,28391,NaN,NaN,31.0,3.0,6.0,"(0, 6]"
180,11434,51640.5104,52603,NaN,NaN,81.0,0.0,0.0,0
181,11435,44721.7965,47317,Queens County,1950.0,111.0,1.0,24.0,"(6, 72]"
182,11436,62297.1561,18291,NaN,NaN,23.0,5.0,0.0,0
183,11691,35645.3949,54005,NaN,NaN,45.0,2.0,12.0,"(6, 72]"
184,11692,42385.4913,15850,NaN,NaN,10.0,9.0,15.0,"(6, 72]"
185,11693,54873.7130,11120,Queens County,1600.0,36.0,0.0,1.0,"(0, 6]"
186,11694,75157.2154,19299,NaN,NaN,39.0,1.0,5.0,"(0, 6]"
187,11697,82290.5340,4206,NaN,NaN,4.0,0.0,0.0,0

In [355]:
df_master94.to_csv('df_master94.csv')