In [ ]:
!pip install uszipcode

In [1]:
import uszipcode

In [2]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=False)

In [3]:
from uszipcode import Zipcode

In [14]:
result = search.by_coordinates(40.84912800131844, -73.86821300022677, radius=2, returns=1)
result[0].to_dict()
# result

{'zipcode_type': 'Standard',
 'major_city': 'Bronx',
 'post_office_city': 'Bronx, NY',
 'common_city_list': ['Bronx'],
 'county': 'Bronx County',
 'state': 'NY',
 'lat': 40.84,
 'lng': -73.88,
 'timezone': 'Eastern',
 'radius_in_miles': 1.0,
 'area_code_list': ['212'],
 'population': 57311,
 'population_density': 43567.0,
 'land_area_in_sqmi': 1.32,
 'water_area_in_sqmi': 0.0,
 'housing_units': 20706,
 'occupied_housing_units': 19512,
 'median_home_value': 391700,
 'median_household_income': 22307,
 'bounds_west': -73.896966,
 'bounds_east': -73.862943,
 'bounds_north': 40.857077,
 'bounds_south': 40.830408,
 'zipcode': '10460',
 'polygon': [[-73.878171, 40.842625],
  [-73.877456, 40.842398],
  [-73.876856, 40.84223],
  [-73.876085, 40.842065],
  [-73.874591, 40.841521],
  [-73.874486, 40.841616],
  [-73.871745, 40.844191],
  [-73.871733, 40.843726],
  [-73.871906, 40.842618],
  [-73.87041, 40.845405],
  [-73.868364, 40.844908],
  [-73.868283, 40.844967],
  [-73.868109, 40.844798],
  [-73.867788, 40.844875],
  [-73.867723, 40.844807],
  [-73.866552, 40.843595],
  [-73.866425, 40.843463],
  [-73.865911, 40.843197],
  [-73.865727, 40.843011],
  [-73.865167, 40.842466],
  [-73.864703, 40.841552],
  [-73.864465, 40.841088],
  [-73.864062, 40.840291],
  [-73.863938, 40.840045],
  [-73.864888, 40.839771],
  [-73.864516, 40.83777],
  [-73.863641, 40.837856],
  [-73.863555, 40.837865],
  [-73.863156, 40.835531],
  [-73.86296, 40.83442],
  [-73.862943, 40.834299],
  [-73.86397, 40.834606],
  [-73.864995, 40.834911],
  [-73.865074, 40.835342],
  [-73.865979, 40.835205],
  [-73.866329, 40.835049],
  [-73.866806, 40.834837],
  [-73.868102, 40.835213],
  [-73.869033, 40.835486],
  [-73.869994, 40.83565],
  [-73.870558, 40.83571],
  [-73.871095, 40.83568],
  [-73.872124, 40.835859],
  [-73.87319, 40.835913],
  [-73.873676, 40.836011],
  [-73.874323, 40.836033],
  [-73.875101, 40.836127],
  [-73.876151, 40.836132],
  [-73.876559, 40.836134],
  [-73.876937, 40.836137],
  [-73.878364, 40.835081],
  [-73.879252, 40.834424],
  [-73.879983, 40.83468],
  [-73.88126, 40.835126],
  [-73.882073, 40.835394],
  [-73.882222, 40.835463],
  [-73.883505, 40.833904],
  [-73.884893, 40.8324],
  [-73.884713, 40.832315],
  [-73.885195, 40.830408],
  [-73.885501, 40.830436],
  [-73.885633, 40.830642],
  [-73.886376, 40.830901],
  [-73.887229, 40.831201],
  [-73.888081, 40.831502],
  [-73.888936, 40.831798],
  [-73.889791, 40.83209],
  [-73.890714, 40.832409],
  [-73.891627, 40.832733],
  [-73.891737, 40.832664],
  [-73.892158, 40.833645],
  [-73.893128, 40.833422],
  [-73.893883, 40.835238],
  [-73.894156, 40.834982],
  [-73.894426, 40.834638],
  [-73.894378, 40.834367],
  [-73.894191, 40.833291],
  [-73.895123, 40.833197],
  [-73.895274, 40.834034],
  [-73.895452, 40.833949],
  [-73.896302, 40.833543],
  [-73.896966, 40.834343],
  [-73.895139, 40.835429],
  [-73.893377, 40.83654],
  [-73.891481, 40.836687],
  [-73.890601, 40.836898],
  [-73.888412, 40.838553],
  [-73.887289, 40.838135],
  [-73.886598, 40.839279],
  [-73.887543, 40.839641],
  [-73.888138, 40.839862],
  [-73.888691, 40.839158],
  [-73.890174, 40.839874],
  [-73.892169, 40.84105],
  [-73.891502, 40.841699],
  [-73.890511, 40.842657],
  [-73.890444, 40.842808],
  [-73.890386, 40.842873],
  [-73.890036, 40.843195],
  [-73.889552, 40.843771],
  [-73.889017, 40.84437],
  [-73.888319, 40.845179],
  [-73.88801, 40.845539],
  [-73.887836, 40.845743],
  [-73.88734, 40.846329],
  [-73.886697, 40.847082],
  [-73.886017, 40.847878],
  [-73.884802, 40.849309],
  [-73.884478, 40.850044],
  [-73.884199, 40.850705],
  [-73.88382, 40.851499],
  [-73.883281, 40.852564],
  [-73.882733, 40.85365],
  [-73.881668, 40.853348],
  [-73.880714, 40.856798],
  [-73.88075, 40.856938],
  [-73.880787, 40.857077],
  [-73.880591, 40.856962],
  [-73.877418, 40.85538],
  [-73.876766, 40.855459],
  [-73.876798, 40.854919],
  [-73.876582, 40.853547],
  [-73.874827, 40.853626],
  [-73.873939, 40.852876],
  [-73.875315, 40.850459],
  [-73.875295, 40.848315],
  [-73.876031, 40.846848],
  [-73.876137, 40.846652],
  [-73.876248, 40.846413],
  [-73.876343, 40.846161],
  [-73.876403, 40.84596],
  [-73.876458, 40.845726],
  [-73.876494, 40.845507],
  [-73.876514, 40.845304],
  [-73.87729, 40.844049],
  [-73.877314, 40.844007],
  [-73.878171, 40.842625]],
 'population_by_year': [{'key': 'Data',
   'values': [{'x': 2005, 'y': 41056},
    {'x': 2006, 'y': 42778},
    {'x': 2007, 'y': 48806},
    {'x': 2008, 'y': 47820},
    {'x': 2009, 'y': 50063},
    {'x': 2010, 'y': 47689},
    {'x': 2011, 'y': 47079},
    {'x': 2012, 'y': 48020},
    {'x': 2013, 'y': 48550},
    {'x': 2014, 'y': 47930},
    {'x': 2015, 'y': 47890}]}],
 'population_by_age': [{'key': 'Male',
   'values': [{'x': 'Under 5', 'y': 2471},
    {'x': '5-9', 'y': 2428},
    {'x': '10-14', 'y': 2411},
    {'x': '15-19', 'y': 2750},
    {'x': '20-24', 'y': 2340},
    {'x': '25-29', 'y': 1879},
    {'x': '30-34', 'y': 1708},
    {'x': '35-39', 'y': 1672},
    {'x': '40-44', 'y': 1750},
    {'x': '45-49', 'y': 1754},
    {'x': '50-54', 'y': 1493},
    {'x': '55-59', 'y': 1151},
    {'x': '60-64', 'y': 900},
    {'x': '65-69', 'y': 701},
    {'x': '70-74', 'y': 492},
    {'x': '75-79', 'y': 293},
    {'x': '80-84', 'y': 186},
    {'x': '85 Plus', 'y': 117}]},
  {'key': 'Female',
   'values': [{'x': 'Under 5', 'y': 2425},
    {'x': '5-9', 'y': 2270},
    {'x': '10-14', 'y': 2345},
    {'x': '15-19', 'y': 2660},
    {'x': '20-24', 'y': 2373},
    {'x': '25-29', 'y': 2386},
    {'x': '30-34', 'y': 2212},
    {'x': '35-39', 'y': 2196},
    {'x': '40-44', 'y': 2207},
    {'x': '45-49', 'y': 2173},
    {'x': '50-54', 'y': 1850},
    {'x': '55-59', 'y': 1408},
    {'x': '60-64', 'y': 1202},
    {'x': '65-69', 'y': 1024},
    {'x': '70-74', 'y': 829},
    {'x': '75-79', 'y': 581},
    {'x': '80-84', 'y': 393},
    {'x': '85 Plus', 'y': 281}]},
  {'key': 'Total',
   'values': [{'x': 'Under 5', 'y': 4896},
    {'x': '5-9', 'y': 4698},
    {'x': '10-14', 'y': 4756},
    {'x': '15-19', 'y': 5410},
    {'x': '20-24', 'y': 4713},
    {'x': '25-29', 'y': 4265},
    {'x': '30-34', 'y': 3920},
    {'x': '35-39', 'y': 3868},
    {'x': '40-44', 'y': 3957},
    {'x': '45-49', 'y': 3927},
    {'x': '50-54', 'y': 3343},
    {'x': '55-59', 'y': 2559},
    {'x': '60-64', 'y': 2102},
    {'x': '65-69', 'y': 1725},
    {'x': '70-74', 'y': 1321},
    {'x': '75-79', 'y': 874},
    {'x': '80-84', 'y': 579},
    {'x': '85 Plus', 'y': 398}],
   'color': '#000000'}],
 'population_by_gender': [{'key': 'Data',
   'values': [{'x': 'Male', 'y': 26496}, {'x': 'Female', 'y': 30815}]}],
 'population_by_race': [{'key': 'Data',
   'values': [{'x': 'White', 'y': 14145},
    {'x': 'Black Or African American', 'y': 20860},
    {'x': 'American Indian Or Alaskan Native', 'y': 985},
    {'x': 'Asian', 'y': 836},
    {'x': 'Native Hawaiian & Other Pacific Islander', 'y': 58},
    {'x': 'Other Race', 'y': 17172},
    {'x': 'Two Or More Races', 'y': 3255}]}],
 'head_of_household_by_age': [{'key': 'Owner',
   'values': [{'x': '15-24', 'y': 23},
    {'x': '25-34', 'y': 156},
    {'x': '35-44', 'y': 368},
    {'x': '45-54', 'y': 514},
    {'x': '55-64', 'y': 437},
    {'x': '65-74', 'y': 299},
    {'x': '75-84', 'y': 134},
    {'x': '85 Plus', 'y': 48}]},
  {'key': 'Renter',
   'values': [{'x': '15-24', 'y': 723},
    {'x': '25-34', 'y': 3352},
    {'x': '35-44', 'y': 4051},
    {'x': '45-54', 'y': 3945},
    {'x': '55-64', 'y': 2540},
    {'x': '65-74', 'y': 1764},
    {'x': '75-84', 'y': 936},
    {'x': '85 Plus', 'y': 222}]},
  {'key': 'Total',
   'values': [{'x': '15-24', 'y': 746},
    {'x': '25-34', 'y': 3508},
    {'x': '35-44', 'y': 4419},
    {'x': '45-54', 'y': 4459},
    {'x': '55-64', 'y': 2977},
    {'x': '65-74', 'y': 2063},
    {'x': '75-84', 'y': 1070},
    {'x': '85 Plus', 'y': 270}],
   'color': '#000000'}],
 'families_vs_singles': [{'key': 'Data',
   'values': [{'x': 'Husband Wife Family Households', 'y': 4610},
    {'x': 'Single Guardian', 'y': 8909},
    {'x': 'Singles', 'y': 5173},
    {'x': 'Singles With Roommate', 'y': 820}]}],
 'households_with_kids': [{'key': 'Data',
   'values': [{'x': 'Households Without Kids', 'y': 10571},
    {'x': 'Households With Kids', 'y': 8941}]}],
 'children_by_age': [{'key': 'Male',
   'values': [{'x': 0, 'y': 454},
    {'x': 1, 'y': 515},
    {'x': 2, 'y': 524},
    {'x': 3, 'y': 485},
    {'x': 4, 'y': 521},
    {'x': 5, 'y': 421},
    {'x': 6, 'y': 484},
    {'x': 7, 'y': 510},
    {'x': 8, 'y': 492},
    {'x': 9, 'y': 500},
    {'x': 10, 'y': 467},
    {'x': 11, 'y': 469},
    {'x': 12, 'y': 472},
    {'x': 13, 'y': 503},
    {'x': 14, 'y': 549},
    {'x': 15, 'y': 565},
    {'x': 16, 'y': 522},
    {'x': 17, 'y': 588},
    {'x': 18, 'y': 526},
    {'x': 19, 'y': 512}]},
  {'key': 'Female',
   'values': [{'x': 0, 'y': 514},
    {'x': 1, 'y': 448},
    {'x': 2, 'y': 477},
    {'x': 3, 'y': 497},
    {'x': 4, 'y': 454},
    {'x': 5, 'y': 434},
    {'x': 6, 'y': 479},
    {'x': 7, 'y': 449},
    {'x': 8, 'y': 454},
    {'x': 9, 'y': 458},
    {'x': 10, 'y': 496},
    {'x': 11, 'y': 450},
    {'x': 12, 'y': 488},
    {'x': 13, 'y': 453},
    {'x': 14, 'y': 501},
    {'x': 15, 'y': 552},
    {'x': 16, 'y': 506},
    {'x': 17, 'y': 575},
    {'x': 18, 'y': 526},
    {'x': 19, 'y': 490}]},
  {'key': 'Total',
   'values': [{'x': 0, 'y': 968},
    {'x': 1, 'y': 963},
    {'x': 2, 'y': 1001},
    {'x': 3, 'y': 982},
    {'x': 4, 'y': 975},
    {'x': 5, 'y': 855},
    {'x': 6, 'y': 963},
    {'x': 7, 'y': 959},
    {'x': 8, 'y': 946},
    {'x': 9, 'y': 958},
    {'x': 10, 'y': 963},
    {'x': 11, 'y': 919},
    {'x': 12, 'y': 960},
    {'x': 13, 'y': 956},
    {'x': 14, 'y': 1050},
    {'x': 15, 'y': 1117},
    {'x': 16, 'y': 1028},
    {'x': 17, 'y': 1163},
    {'x': 18, 'y': 1052},
    {'x': 19, 'y': 1002}],
   'color': '#000000'}],
 'housing_type': [{'key': 'Data',
   'values': [{'x': 'In Occupied Housing Units', 'y': 56236},
    {'x': 'Correctional Facility For Adults', 'y': 0},
    {'x': 'Juvenile Facilities', 'y': 12},
    {'x': 'Nursing Facilities', 'y': 0},
    {'x': 'Other Institutional', 'y': 0},
    {'x': 'College Student Housing', 'y': 0},
    {'x': 'Military Quarters', 'y': 0},
    {'x': 'Other Noninstitutional', 'y': 1063}]}],
 'year_housing_was_built': [{'key': 'Data',
   'values': [{'x': '1939 Or Earlier', 'y': 6884},
    {'x': '1940s', 'y': 2091},
    {'x': '1950s', 'y': 2479},
    {'x': '1960s', 'y': 2382},
    {'x': '1970s', 'y': 2496},
    {'x': '1980s', 'y': 1150},
    {'x': '1990s', 'y': 1560},
    {'x': '2000s', 'y': 1403},
    {'x': '2010 Or Later', 'y': 55}]}],
 'housing_occupancy': [{'key': 'Data',
   'values': [{'x': 'Owned Households With A Mortgage', 'y': 1434},
    {'x': 'Owned Households Free & Clear', 'y': 545},
    {'x': 'Renter Occupied Households', 'y': 17533},
    {'x': 'Households Vacant', 'y': 1194}]}],
 'vancancy_reason': [{'key': 'Data',
   'values': [{'x': 'For Rent', 'y': 804},
    {'x': 'Rented & Unoccupied', 'y': 17},
    {'x': 'For Sale Only', 'y': 75},
    {'x': 'Sold & Unoccupied', 'y': 23},
    {'x': 'For Season Recreational Or Occasional Use', 'y': 33},
    {'x': 'For Migrant Workers', 'y': 0},
    {'x': 'Vacant For Other Reasons', 'y': 242}]}],
 'owner_occupied_home_values': [{'key': 'Data',
   'values': [{'x': '$1-$24,999', 'y': 42},
    {'x': '$25,000-$49,999', 'y': 14},
    {'x': '$50,000-$99,999', 'y': 129},
    {'x': '$100,000-$149,999', 'y': 209},
    {'x': '$150,000-$199,999', 'y': 94},
    {'x': '$200,000-$399,999', 'y': 391},
    {'x': '$400,000-$749,999', 'y': 779},
    {'x': '$750,000+', 'y': 61}]}],
 'rental_properties_by_number_of_rooms': [{'key': 'Data',
   'values': [{'x': 'Studio Apartment', 'y': 839},
    {'x': '1 Bedroom', 'y': 5979},
    {'x': '2 Bedroom', 'y': 6567},
    {'x': '3+ Bedroom', 'y': 4024}]}],
 'monthly_rent_including_utilities_studio_apt': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 58},
    {'x': '$200-$299', 'y': 95},
    {'x': '$300-$499', 'y': 109},
    {'x': '$500-$749', 'y': 239},
    {'x': '$750-$999', 'y': 155},
    {'x': '$1,000+', 'y': 178}]}],
 'monthly_rent_including_utilities_1_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 224},
    {'x': '$200-$299', 'y': 710},
    {'x': '$300-$499', 'y': 830},
    {'x': '$500-$749', 'y': 547},
    {'x': '$750-$999', 'y': 1508},
    {'x': '$1,000+', 'y': 2082}]}],
 'monthly_rent_including_utilities_2_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 364},
    {'x': '$200-$299', 'y': 387},
    {'x': '$300-$499', 'y': 726},
    {'x': '$500-$749', 'y': 627},
    {'x': '$750-$999', 'y': 912},
    {'x': '$1,000+', 'y': 3384}]}],
 'monthly_rent_including_utilities_3plus_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 117},
    {'x': '$200-$299', 'y': 206},
    {'x': '$300-$499', 'y': 275},
    {'x': '$500-$749', 'y': 750},
    {'x': '$750-$999', 'y': 525},
    {'x': '$1,000+', 'y': 2081}]}],
 'employment_status': [{'key': 'Data',
   'values': [{'x': 'Worked Full-time With Earnings', 'y': 13191},
    {'x': 'Worked Part-time With Earnings', 'y': 8672},
    {'x': 'No Earnings', 'y': 19193}]}],
 'average_household_income_over_time': [{'key': 'Data',
   'values': [{'x': 2005, 'y': 24579.7769},
    {'x': 2006, 'y': 25041.8685},
    {'x': 2007, 'y': 23252.4864},
    {'x': 2008, 'y': 25577.0164},
    {'x': 2009, 'y': 26586.2423},
    {'x': 2010, 'y': 27286.4796},
    {'x': 2011, 'y': 25901.5126},
    {'x': 2012, 'y': 26068.1427},
    {'x': 2013, 'y': 25509.8785},
    {'x': 2014, 'y': 26486.3766},
    {'x': 2015, 'y': 27409.2846}]}],
 'household_income': [{'key': 'Data',
   'values': [{'x': '< $25,000', 'y': 10266},
    {'x': '$25,000-$44,999', 'y': 3936},
    {'x': '$45,000-$59,999', 'y': 1488},
    {'x': '$60,000-$99,999', 'y': 2477},
    {'x': '$100,000-$149,999', 'y': 746},
    {'x': '$150,000-$199,999', 'y': 111},
    {'x': '$200,000+', 'y': 104}]}],
 'annual_individual_earnings': [{'key': 'Data',
   'values': [{'x': '< $10,000', 'y': 4698},
    {'x': '$10,000-$19,999', 'y': 5482},
    {'x': '$20,000-$29,999', 'y': 4301},
    {'x': '$30,000-$39,999', 'y': 2744},
    {'x': '$40,000-$49,999', 'y': 1857},
    {'x': '$50,000-$64,999', 'y': 1345},
    {'x': '$65,000-$74,999', 'y': 584},
    {'x': '$75,000-$99,999', 'y': 540},
    {'x': '$100,000+', 'y': 312}]}],
 'sources_of_household_income____percent_of_households_receiving_income': [{'key': 'Data',
   'values': [{'x': 'Wages', 'y': 83.2797},
    {'x': 'Business', 'y': 19.9357},
    {'x': 'Partnership', 'y': 0.3617},
    {'x': 'Unemployment', 'y': 4.0193}]}],
 'sources_of_household_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'Wages', 'y': 29037.7413},
    {'x': 'Business', 'y': 8653.2258},
    {'x': 'Partnership', 'y': 5533.3333},
    {'x': 'Unemployment', 'y': 4431}]}],
 'household_investment_income____percent_of_households_receiving_investment_income': [{'key': 'Data',
   'values': [{'x': 'Interest', 'y': 7.4357},
    {'x': 'Ordinary Dividends', 'y': 1.7283},
    {'x': 'Qualified Dividends', 'y': 1.4068},
    {'x': 'Capital Gains', 'y': 1.8489}]}],
 'household_investment_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'Interest', 'y': 316.7568},
    {'x': 'Ordinary Dividends', 'y': 1748.8372},
    {'x': 'Qualified Dividends', 'y': 1385.7143},
    {'x': 'Capital Gains', 'y': 443.4783}]}],
 'household_retirement_income____percent_of_households_receiving_retirement_incom': [{'key': 'Data',
   'values': [{'x': 'IRA Distributions', 'y': 1.045},
    {'x': 'Pensions/annuities', 'y': 6.672},
    {'x': 'Social Security', 'y': 2.7331}]}],
 'household_retirement_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'IRA Distributions', 'y': 8876.9231},
    {'x': 'Pensions/annuities', 'y': 16302.4096},
    {'x': 'Social Security', 'y': 10273.5294}]}],
 'source_of_earnings': [{'key': 'Data',
   'values': [{'x': 'Worked Full-time With Earnings', 'y': 13191},
    {'x': 'Worked Part-time With Earnings', 'y': 8672},
    {'x': 'No Earnings', 'y': 19193}]}],
 'means_of_transportation_to_work_for_workers_16_and_over': [{'key': 'Data',
   'values': [{'x': 'Car, Truck, Or Van', 'y': 4085},
    {'x': 'Public Transportation', 'y': 12490},
    {'x': 'Taxicab', 'y': 101},
    {'x': 'Motorcycle', 'y': 0},
    {'x': 'Bicycle, Walked, Or Other Means', 'y': 1759},
    {'x': 'Worked At Home', 'y': 593}]}],
 'travel_time_to_work_in_minutes': [{'key': 'Data',
   'values': [{'x': '< 10', 'y': 845},
    {'x': '10-19', 'y': 2214},
    {'x': '20-29', 'y': 1916},
    {'x': '30-39', 'y': 2933},
    {'x': '40-44', 'y': 1084},
    {'x': '45-59', 'y': 3898},
    {'x': '60-89', 'y': 4366},
    {'x': '90+', 'y': 1179}]}],
 'educational_attainment_for_population_25_and_over': [{'key': 'Data',
   'values': [{'x': 'Less Than High School Diploma', 'y': 12984},
    {'x': 'High School Graduate', 'y': 13604},
    {'x': "Associate's Degree", 'y': 2138},
    {'x': "Bachelor's Degree", 'y': 2784},
    {'x': "Master's Degree", 'y': 695},
    {'x': 'Professional School Degree', 'y': 79},
    {'x': 'Doctorate Degree', 'y': 27}]}],
 'school_enrollment_age_3_to_17': [{'key': 'Data',
   'values': [{'x': 'Enrolled In Public School', 'y': 12013},
    {'x': 'Enrolled In Private School', 'y': 1201},
    {'x': 'Not Enrolled In School', 'y': 1273}]}]}

In [15]:
for i in range(0, len(result)):
    #print(result[i].to_dict()['lat'], result[i].to_dict()['lng'])
    print(result[i].to_dict()['zipcode'])

10460

In [ ]:
len(result)

In [ ]:
res = search.by_city_and_state("new york city", "NY")

In [ ]:
res